
#parse("/velocity/event/scoreMacros.vm")


<html>
<script src="/js/jquery-1.12.4.js"></script>
  	<script src="/js/jquery-ui.js"></script>
  	<script src="/js/general.js"></script>
  	
<body>
<style>
	#scoreStyle()
</style>
	<script>
		#scoreJS()
		$().ready(function(){
			$.ajax({
	  			url: "../full/",
	  			type: "GET",
	  			dataType: 'json',
	  			data: {},
	  			success: function(data){
		  			updateScoreControl(data);
					updateScore(0,0,0);
					setControlState(false);
	  			},
	  			error: function(){
	  				console.log("Problem");
	  			}});
	  		$.ajax({
	  			url: "../info/",
	  			type: "GET",
	  			dataType: 'json',
	  			success: function(data){
	  				fillMatchInfo(data);
	  			},
	  			error:function(xhr, ajaxOptions, thrownError){	  				
		                    console.log(xhr);
		                    console.log(ajaxOptions);
		                    console.log(thrownError);
	  			}});
		});
		
		function updateScore(a,b,c){//dont care about params
			//query for new breakdown with a PUT
			document.getElementById("saveBtn").disabled = false;
			$.ajax({
  			url: "",
  			type: "PUT",
  			dataType: 'json',
  			data: getCommitObject(),
  			success: function(data){
	  			updateScoreBreakdown(data);
  			},
  			error: function(){
  				console.log("Problem");
  			}});
		}
		
		function commit(){
			//Save new edits via POST
			$.ajax({
  			url: "",
  			type: "POST",
  			data: getCommitObject(),
  			success: function(data){
  				document.getElementById("saveBtn").disabled = true;
  			},
  			error: function(){
  				console.log("Problem");
  			}});
		}
		
		function cancel(){
			location.reload(true);
		}
	</script>
	#topBar()
	<div id="matchControl">
			<button class="matchControlButton" id="cancelBtn" onclick="cancel()">Cancel Edits</button>
			<button class="matchControlButton" id="saveBtn" onclick="commit()">Commit Edits</button>			
		</div>
	<div class="tabContent" id="ScoreTab">
			<div id="leftScores">
				#scores("red")
			</div>
			<div id="rightScores">
				#scores("blue")				
			</div>
		</div>
</body>
</html>