##
## Copyright (c) 2016-2018 Thomas Barnette and Trey Woodlief
## All Rights Reserved.
##

#parse("/velocity/layout.vm")
#@mainLayout()
<a href="/index/"><< To Home</a>
<h1>$event.code: $event.name</h1>
<h2>
	Event Info
</h2>
<ul>
	<li>
		<a href="../teams/info">Team Info</a>
	</li>
	<li>
		<a href="../schedule">Match Schedule</a>
	</li><li>
		<a href="../results">Match Results</a>
	</li><li>
		<a href="../resultsname">Match Results + Names</a>
	</li><li>
		<a href="../rankings">Rankings</a>
	</li><li>
		<a href="../pit">Pit Display</a>
	</li><li>
		<a href="../queue">Queueing Display</a>
	</li><li>
		<a href="../stats/">Statistics (Beta)</a>
	</li>
</ul>
<h2>
	Inspection Links
</h2>
<ul>
	<li>
		<a href="../status">Inspection Status</a>
	</li>
	#if($INSPECTOR)
	<li>
		<a href="../inspect/sc">Sizing Cube</a>
	</li>
	<li>
		<a href="../inspect/hw">Hardware Inspection</a>
	</li><li>
		<a href="../inspect/sw">Software Inspection</a>
	</li><li>
		<a href="../inspect/fd">Field Inspection</a>
	</li><li>
		<a href="../inspect/ci">Team Check-in</a>
	</li>
	#end
</ul>

#if($REF)
<h2>
	Live Scoring Links
</h2>
<ul>
	<li>
		<a href="../ref/blue/idle">Blue Alliance Referee/Score Tracker</a>
	</li><li>
		<a href="../ref/red/idle">Red Alliance Referee/Score Tracker</a>
	</li>
</ul>
#end
#if($ADMIN)
<h2>
	Match Control & Display Pages
</h2>
<ul>
	<li>
		<a href="../control">Match Control Page</a>
	</li><li>
		<a href="../results">Edit Match Scores</a>
	</li><li>
		<a href="../field/">Field Display</a>
	</li><li>
		<a href="../field/?field=1">Field Display 1 (Odd Matches Only)</a>
	</li><li> 
		<a href="../field/?field=2">Field Display 2 (Even Matches Only)</a>
	</li><li>
		<a href="../audience/">Audience Display</a>
	</li><li>
		<a href="../audience/?flip=true">Audience Display (Flipped)</a>
	</li><li>
		<a href="../audience/?notimer=true">Audience Display (No Timer)</a>
	</li><li>
		<a href="../field/?ad=true">Field Display As Audience Display</a>
	</li><li>
		<a href="../overlay/?color=$color">Video Overlay</a>
	</li><li>
		<a href="../overlay/?color=$color&ad=true">Video Overlay (Permanent - no Preview or Results)</a>
	</li><li>
		<a href="../overlay/?color=$color&notimer=true">Video Overlay (No Timer)</a>
	</li><li>
		<a href="../overlay/?color=$color&notimer=true&ad=true">Video Overlay (Permanent & No Timer)</a>
	</li>
</ul>
#end

#if($ADMIN)
<h2>
	Event Management Pages
</h2>
<ul>
	<li>		
		<a href="../manage">Manage Event</a>
	</li>
	<li>		
		<a href="../settings">Event Settings / Data Management</a>
	</li>
</ul>
#end

#if($ADMIN)
<h2>
	User Management Pages
</h2>
<ul>
	<li>		
		<a href="/create/account">Create Users</a>
	</li>
	<li>		
		<a href="/users/manage">Manage Users</a>
	</li>
</ul>
#end


#end