#parse("/velocity/layout.vm")
#@mainLayout()
<h1>Event Data Management: $code</h1>

Import Teams<br>
Export Teams<br>

These Operations Are Dangerous! Be Careful!
Delete Qualification Data<br>
Delete Elimination Data<br>


#end