##
## Copyright (c) 2016-2018 Thomas Barnette and Trey Woodlief
## All Rights Reserved.
##

#parse("/velocity/layout.vm")
#@mainLayout()
<h1>Event Settings and Data Management: $code ($name)</h1>
<script>
function updatePreview(){
	document.getElementById("colorPreview").style.backgroundColor = document.getElementById("colorInput").value;
}
function saveColor(){
	document.getElementById("colorStatus").innerHTML = "";
	$.ajax({
       url : 'overlay/',
       type : 'PUT',
       data : {color:document.getElementById("colorInput").value},
       success : function(data) {
           document.getElementById("colorStatus").innerHTML = "<font color='green'>Color Saved.</font>";
       },
       fail : function(xhr, textStatus, error){
		  document.getElementById("colorStatus").innerHTML = "<font color='red'>Failed to set color</font>";
		}
	});
}

function deletePhase(phase){
	if(confirm("Are you sure you want to delete "+phase+"? This operation cannot be undone!")){
		document.getElementById("deleteStatus").innerHTML = "";
		$.ajax({
			url:phase+"/",
			type: 'DELETE',
			data: {},
			success: function(data){
				document.getElementById("deleteStatus").innerHTML = "Success";
				var old = document.getElementById(phase);
				old.disabled = true;
				if(phase == 'elims'){ //no inspection delet support yet
					var prev = document.getElementById(phase == 'elims' ? 'quals' : 'inspection');
					prev.disabled = false;
				}
			},
			fail: function(xhr, textStatus, error){
				document.getElementById("deleteStatus").innerHTML = "Error";
			}
		});	
	}
}

function deleteMatches(mod){
	if(confirm("Are you sure you want to delete these matches? This operation cannot be undone!")){
		document.getElementById("deleteStatus").innerHTML = "";
		$.ajax({
			url:"deletematches/"+mod,
			type: 'DELETE',
			data: {},
			success: function(data){
				document.getElementById("deleteStatus").innerHTML = "Success";
			},
			fail: function(xhr, textStatus, error){
				document.getElementById("deleteStatus").innerHTML = "Error";
			}
		});	
	}
}

</script>

<fieldset>
<legend>Settings</legend>
	<div style="float:left; height:30;line-height:30px;">Video Overlay Default Color:&nbsp;&nbsp;&nbsp;</div>
	
	<input type="text" value="$color" style="width:80; float:left; height:30;" id="colorInput" oninput="updatePreview()"></input>
	<div style="float:left;width:10;">&nbsp;</div>
	<div style="width:29;height:29;border:solid 1px black; background-color:$color;float:left;position:relative;top:2;" id="colorPreview"></div>
	<div style="float:left;width:10;">&nbsp;</div>
	<button style="position:relative;top:5; float:left;" onclick="saveColor()">Save</button>
	<div id="colorStatus" style="float:left;position:relative; left:10; height:30;line-height:30px;"></div>
</fieldset>

<fieldset>
	<legend>Data Management</legend>
	<!--
	Team Export
	<hr>
	Download Event Backup<br>
	Restore from backup
	<hr>
	-->
	These operations provide a mechanism to delete data and back the event up a phase. This allows recovery from errors
	such as uploading an incorrect match schedule or generating incorrect alliances. Any data from that phase (such as matches played or inspection forms) will be permanently deleted. THESE OPERATIONS ARE DANGEROUS AND CANNOT
	BE UNDONE! The operations DO NOT affect remote servers, so if you are connected to one, you will need to notify the administrators
	of the remote server to duplicate the operation.
	<table><tr>
		<td><button id='inspection' onclick="deletePhase('inspection')" disabled>Delete Inspection Data</button></td>
		<td><button id='quals' onclick="deletePhase('quals')" #if($phase != 3) disabled#end>Delete Quals Data</button></td>
		<td><button id='elims' onclick="deletePhase('elims')" #if($phase != 5) disabled#end>Delete Elims Data</button></td>
	</tr></table>
	<div id="deleteStatus"></div>

</fieldset>
<fieldset>
	<legend>Field Isolation</legend>
	Use these buttons to delete half the matches.
	<table><tr>
		<td><button id='even' onclick="deleteMatches(0)">Delete Even Matches</button></td>
		<td><button id='odd' onclick="deleteMatches(1)" >Delete Odd Matches</button></td>
	</tr></table>
</fieldset>

#end