#macro (grid $alliance $size $index)
	<div id="grid${alliance}" class="grid">
  		<img id="background${alliance}${index}" class="gridBackground" src="/img/empty-grid-${alliance}50.png" alt="Cryptobox1"> 		
  		<img id="gridOverlay${alliance}${index}" class="gridOverlay" src="/img/grid_blank50.png" alt="grid">
  		<img id="gridCipher_${alliance}_${index}" src="/img/bird-grid-blue50.png" visible="false" class="gridCipher" alt="cipher">	
  		<img id="${alliance}_${index}_0_0" visible="false" class="cell" src="/img/grey-square50.png" alt="brown" 
  		style="position:absolute;left:5; top:8;">
  		<img id="${alliance}_${index}_0_1" visible="false" class="cell" src="/img/brown-square50.png" alt="brown" 
  		style="position:absolute;left:45; top:8;">
  		<img id="${alliance}_${index}_0_2" visible="false" class="cell" src="/img/grey-square50.png" alt="brown" 
  		style="position:absolute;left:85; top:8;">
  		<img id="${alliance}_${index}_1_0" visible="false" class="cell" src="/img/grey-square50.png" alt="brown" 
  		style="position:absolute;left:5; top:46;">
  		<img id="${alliance}_${index}_1_1" visible="false" class="cell" src="/img/brown-square50.png" alt="brown" 
  		style="position:absolute;left:45; top:46;">
  		<img id="${alliance}_${index}_1_2" visible="false" class="cell" src="/img/grey-square50.png" alt="brown" 
  		style="position:absolute;left:85; top:46;">
  		<img id="${alliance}_${index}_2_0" visible="false" class="cell" src="/img/grey-square50.png" alt="brown" 
  		style="position:absolute;left:5; top:86;">
  		<img id="${alliance}_${index}_2_1" visible="false" class="cell" src="/img/brown-square50.png" alt="brown" 
  		style="position:absolute;left:45; top:86;">
  		<img id="${alliance}_${index}_2_2" visible="false" class="cell" src="/img/grey-square50.png" alt="brown" 
  		style="position:absolute;left:85; top:86;">
  		<img id="${alliance}_${index}_3_0" visible="false" class="cell" src="/img/grey-square50.png" alt="brown" 
  		style="position:absolute;left:5; top:124;">
  		<img id="${alliance}_${index}_3_1" visible="false" class="cell" src="/img/brown-square50.png" alt="brown" 
  		style="position:absolute;left:45; top:124;">
  		<img id="${alliance}_${index}_3_2" visible="false" class="cell" src="/img/grey-square50.png" alt="brown" 
  		style="position:absolute;left:85; top:124;">
  	</div>
#end
#macro (parking $alliance $size)
	<div id="parking$alliance" class="parking">
  			<img id="parking${alliance}1" src="/img/parking_black${size}.png" alt="Parking">
  			<br>
  			<img id="parking${alliance}2" src="/img/parking_black${size}.png" alt="Parking">
  		</div>
#end
#macro (ball $alliance $size)
	<div id="ball$alliance" class="ball">
  			<img id="jewel${alliance}1" src="/img/ball-split${size}.png" alt="Balance Stone" >
  			<br>
  			<img id="jewel${alliance}2" src="/img/ball-split${size}.png" alt="Balance Stone" >
  		</div>
#end
#macro (balance $alliance $size)
	<div id="balance$alliance" class="balance">
	<br>
  			<img id="balance${alliance}1" src="/img/tt_black${size}.png" alt="Balance Stone">
  			<br>
  			<br>
  			<br>
  			<img id="balance${alliance}2" src="/img/tt_black${size}.png" alt="Balance Stone">
  		</div>
 #end
 
 #macro (previewBar $a $i)
 <div style="position:relative;background-color:#D6C281">
 <img id="${a}Bar${i}" src="/img/alliance${a}190.png" alt="${a}${i}">
 	<div class="preview previewText previewNumber" id="${a}${i}_number"></div>
 	<div class="preview previewText previewName" id="${a}${i}_name"></div>
 	<div class="preview previewText previewRank" id="${a}${i}_rank"></div>
 </div>
 #end
 
 #macro (resultBar $a $i)
 	<div class="resultBar resultBar$i">
 		<div  class="result resultText resultSeed"><span class="resultSeedText" id="${a}${i}Seed">4</span></div>
 		<img id="${a}Bar${i}" src="/img/alliance${a}92.png" class="resultBarImg" alt="${a}${i}">
 		<div class="result resultText resultNumber" id=${a}${i}_resultNumber>
 			#if($i == "head")Team#end
 		</div>
 		<img src="" id="${a}${i}_card" alt="card"  class="result resultText resultCard" visible="false"> 		
 		<div class="result resultText resultRank" id=${a}${i}_resultRank>
 			#if($i == "head")Rank#end
 		</div>
 	</div>
 #end
 
 #macro (resultField $lab $id)
 	<div style="position:relative; height:80;">
		<div class="blueField"><span class="resultScoreText" id="blueField_${id}">0</span></div>
		<div class="midField"><span class="resultMidText">$lab</span></div>
		<div class="redField"><span class="resultScoreText" id="redField_${id}">0</span></div>
 	</div>
 #end
 
 
<html>
	<style>
	#top{
		position:absolute;
		top:30px;
		left:400;
		width:1120;
		font:60px  "Arial Black", Arial, Helvetica, sans-serif;
		text-align:center;
	}
	#timer{
		position: absolute;
		top: 225px;
		left:600px;
		width:765px;
		background-color:black;
	}
	.timerImage {
		max-width:33%;
		max-height:100%;
	}
	#timer[visible="false"]{
	display:none;
	}
	#random{
		position: absolute;
		top: 180px;
		left:762px;
		background-color:white;
	}
	#random[visible="false"]{
	display:none;
	}
	#preview{
		position:absolute;
		top:180px;
		left:160px;
	}
	#preview[visible="false"]{
	display:none;
	}
	
	.preview{
		z-index:3;
	}
	.previewText{
		font:45px "Arial Black", Arial, Helvetica, sans-serif;
		color:white;
		top:12;
	}
	.previewNumber{
		position:absolute;
		left:70;
		width:250px;
	}
	.previewName{
		position:absolute;
		left:270;
		width:1100px;
	}
	.previewRank{
		position:absolute;
		left:1470;
		width:50px;
		text-align:center
	}
	#result{
		position:absolute;
		top:180px;
		left:160px;
	}
	#result[visible="false"]{
		display:none;
	}
	
	.resultBars{
		position:relative;
		width:800;
		float:left;
	}
	.resultFields{
		position:relative;
		width:1600;
		float:left;
	}
	.resultText{
		font:45px "Arial Black", Arial, Helvetica, sans-serif;
		top:12;
		color: white;
	}
	.resultMidText{
		font:45px "Arial Black", Arial, Helvetica, sans-serif;
		top:10;
	}
	.resultScoreText{
		position:relative;
		font:75px "Arial Black", Arial, Helvetica, sans-serif;
		top:-15;
		color:white;
	}
	.resultNumber{
		position:absolute;
		width:250px;
	}
	div[elims="true"] > div > div > .resultNumber{
		position:absolute;
		left:70;
		width:250px;
	}
	
	.resultCard{
		position:absolute; 
		left:260;
		top:19;
	}
	div[elims="true"] > div > div > .resultCard{
		position:absolute; 
		left:675;
		top:19;
	}
	.resultCard[visible="false"]{
		display:none;
	}
	.resultRank{
		position:absolute;
		left:550;
		width:200px;
		text-align:right
	}
	
	.resultWinner{
		position:absolute;
		left:400;
		top:760;
		width:800;
		height:93;
		text-align:center;
		color:white;
		font:61px "Arial Black", Arial, Helvetica, sans-serif;
	}
	.resultWinner[tie="true"]{
		color:black;
	}
	
	
	.resultWinner[visible="false"]{
		display:none;
	}
	.resultBar{
		position:relative;
	}
	div[elims="true"] > div > .resultBar{
		display:none;
	}
	div[elims="true"] > div > .resultBarhead{
		position:relative;
		display:block;
	}
	div[elims="true"] > div > div > .resultRank{
		display:none;
	}
	div[elims="false"] > div > div > .resultSeed{
		display:none;
	}
	div[elims="true"] > div > div > .resultSeed{
		position:absolute;
		background-color:white;
		border-radius:50%;
		top:22;
		left:30;
		width:50;
		height:50;
	}
	.resultSeedText{
	position:absolute;
			font:45px "Arial Black", Arial, Helvetica, sans-serif;
		top:-10;
		left:-1;
		width:50;
		text-align:center;
		color:black;
		
	}
	div[elims="true"] > .seriesResult{
		position:absolute;
		left:400;
		top:460;
		width:800;
		height:93;
		text-align:center;
		color:white;
		font:61px "Arial Black", Arial, Helvetica, sans-serif;
	}
	div[elims="true"] >  .seriesResult[tie="true"]{
		color:black;
	}
	
	div[elims="false"] > .seriesResult{
		display:none;
	}
	
	
	
	.blueField{
		position:absolute;
		left:266; 
		width:266; 
		height:80; 
		background-color:#5995DE;
		float:left;text-align:center;
	}
	.redField{
		position:absolute; 
		left:1064; width:266; 
		height:80; background-color:#DA3434;
		float:left;text-align:center;
	}
	.midField{
		position:absolute; width:532; 
		left:532; float:left;
		text-align:center;
	}
	
	
	#scoreBar{
		position:absolute;
		height:180px;
		width: 1920px;
		left:0px;
		top:900px;
	}
	#scoreBar[visible="false"]{
		display:none;
	}
	.score{
		position:absolute;
		height:180px;
		width: 260px;
		top: 900px;		
		font-size: 160px;
		text-align:center;
		color:white;
	}
	.score[visible="false"]{
		display:none;
	}
	#scoreBlue{
		background-color:blue;
		left: 700px;
		float:left;
	}
	#scoreRed{
		background-color:red;
		left: 960px;
		float:right;
	}
	.grid{
		position:relative;
		height:180px;
		width: 140px;
		top:7px;
		left:10;
	}
	.gridOverlay{
		position:absolute;
		top:-14;
		left:-9;
		z-index:2;
	}
	.gridBackground {
		position:absolute;
		left:-2;
	}
	.gridCipher{
		position:absolute;
		top:0;
		left:-1;
		z-index:3;
	}
	.gridCipher[visible="false"]{
		display:none;
	}
	.cell[visible="false"]{
		display:none;
	}
	#gridblue{
		float:left;
	}
	#gridRed{
		float:right;
	}
	.parking{
		position:relative;
		height:180px;
		width: 100px;
		top:4px;	
	}
	#parkingBlue{	
		float:left;	
	}
	#parkingRed{
		float:right;
	}
	.balance{
		position:relative;
		height:180px;
		width: 220px;
		top:5px;
	}
	#balanceBlue{
		float:left;
	}
	#balanceRed{
		float: right;
	}
	.ball{
		position:relative;
		height:180px;
		width: 100px;
		top:5px;
		left:10px;
		align:center;
	}
	#ballBlue{
		float:left;
	}
	#ballRed{
		float:right;
	}
	.wing{
		position:absolute; 
		width:294; 
		height:94;
		left:3;
		font:80px "Arial Black", Arial, Helvetica, sans-serif;
		text-align:center;
		line-height:90px;
		vertical-align:top;
	}
	.wing[visible="false"]{
		display:none;
	}
	.blueWing[card=false]{
		background-color:blue;
		color:white;
	}
	.blueWing[card=true]{
		background-color:yellow;
		color:blue;
	}
	.redWing[card=false]{
		background-color:red;
		color:white;
	}
	.redWing[card=true]{
		background-color:yellow;
		color:red;
	}
	#redWing{
		position:absolute; 
		background-color:red;
		width:300;
		height:200;
		top:162;
		left:765;
	}
	#redWing[teams="3"]{
		position:absolute; 
		background-color:red;
		width:300;
		height:300;
		top:112;
		left:765;
	}
	#blueWing{
		position:absolute; 
		background-color:blue;
		width:300;
		height:200;
		top:162;
		left:-300;
	}
	#blueWing[teams="3"]{
		position:absolute; 
		background-color:blue;
		width:300;
		height:300;
		top:112;
		left:-300;
	}
	body {
		overflow:hidden;
		max-width:100%;
		max-height:100%;
		margin:0;
		padding:0;
		background:black;
	}
	#body {
		background-repeat:no-repeat;
		background-image:url('/img/BackgroundHD.png');
		width:100%;
		height:100%;
		position:absolute;
	}
	
	.toBar{
		position:absolute;
		left:-506;
		top:724;
		width:1732;
		height:93;
		text-align:center;
		font:61px "Arial Black", Arial, Helvetica, sans-serif;
	}
	.toBar[visible="false"]{
		display:none;
	}
	</style>

<body>
<div align=center id="body">
	<script src="/js/jquery-1.12.4.js"></script>
  	<script src="/js/jquery-ui.js"></script>
  	<script src="/js/general.js"></script>
  	
  	<audio preload="auto" id="charge">
  	<source src="/audio/charge.wav" type="audio/wav">
  	</audio>
  	<audio preload="auto" id="endauto">
  	<source src="/audio/endauto_with_warning.wav" type="audio/wav">
  	</audio>
  	<audio preload="auto" id="teleop321">
  	<source src="/audio/3-2-1.wav" type="audio/wav">
  	</audio>
  	<audio preload="auto" id="firebell">
  	<source src="/audio/firebell.wav" type="audio/wav">
  	</audio>
  	<audio preload="auto" id="factwhistle">
  	<source src="/audio/factwhistle.wav" type="audio/wav">
  	</audio>
  	<audio preload="auto" id="endmatch">
  	<source src="/audio/endmatch.wav" type="audio/wav">
  	</audio>
  	<audio preload="auto" id="fogblast">
  	<source src="/audio/fogblast.wav" type="audio/wav">
  	</audio>
  	<div id="top">
  		Match 1
  	</div>
  	<div id="timer" >
	  	<img class="timerImage" id="minDigit" src="/digits/Wdigitoff.png" alt="DigitOff" >
	  	<img class="timerImage" id="colon" src="/digits/Wcolon.png" alt="colon">
	  	<img class="timerImage" id="tensDigit" src="/digits/Wdigitoff.png" alt="DigitOff" >
	  	<img class="timerImage" id="onesDigit" src="/digits/Wdigitoff.png" alt="DigitOff" > 
	  	<div id="blueWing" teams="2">
	  		<div id="blueWing1" style="top:3;" class="wing blueWing" card=false>
	  		</div>
	  		<div id="blueWing2" style="top:103;" class="wing blueWing" card=false>
	  		</div>
	  		<div id="blueWing3" style="top:203;" class="wing blueWing" card=false visible="false">
	  		</div>
	  	</div> 	
	  	<div id="redWing" teams="2">
	  		<div id="redWing1" style="top:3;" class="wing redWing" card=false>
	  		</div>
	  		<div id="redWing2" style="top:103;" class="wing redWing" card=false>
	  		</div>
	  		<div id="redWing3" style="top:203;" class="wing redWing" card=false visible="false">
	  		</div>
	  	</div> 
	  	<img id="timeoutBarImg" class="toBar" src="/img/alliancebar200.png" alt="toBar" visible="false">
  		<div id="timeoutBar" class="toBar" visible="false">Alliance Timeout Window Expired</div>
  	</div>
  	<div id="random" visible="false">
  		<img id="randomImg" src="/img/random1_75.png" alt="Randomization" >
  	</div>
  	<div id="preview" visible="false">
  		#previewBar("red" "1")
  		#previewBar("red" "2")
  		#previewBar("red" "3")
  		
  		<br><br><br>
  		#previewBar("blue" "1")
  		#previewBar("blue" "2")
  		#previewBar("blue" "3")
  		
  		<img id="seriesStatusImg" class="resultWinner" src="/img/alliancebar92.png" alt="winner" visible="false">
  		<div id="seriesStatus" class="resultWinner" visible="false">Series Tied</div>
  	</div>
  	<div id="result" visible="false" elims="false" >
  		<div id="blueResultBars" class="resultBars">
  			#resultBar("blue" "head")
  			#resultBar("blue" "1")
  			#resultBar("blue" "2")
  		</div>
  		<div id="redResultBars" class="resultBars">
  			#resultBar("red" "head")
  			#resultBar("red" "1")
  			#resultBar("red" "2")
  		</div>
  		<div id="resultFields" class="resultFields">
  		<br>
  			#resultField ("Points Scored" "score")
  			<br>
  			#resultField ("Penalty Points" "penalty")
  			<br>
  			#resultField ("Total Points" "total")
  		</div>
  		<img id="seriesResultImg" class="seriesResult" src="/img/alliancebar92.png" alt="winner" visible="false">
  		<div id="seriesResult" class="seriesResult" visible="false">Series Tied</div>
  		
  		<img id="winnerImg" class="resultWinner" src="/img/alliancebar92.png" alt="winner">
  		<div id="winnerField" class="resultWinner">Series Tied!</div>
  	</div>
  	<div id="scoreBar" >
  		#grid("blue" "50" "1")
  		#grid("blue" "50" "2")
  		#ball("blue" "25")
  		#parking("blue" "20")
  		#balance("blue" "18")
  		  		
  		#grid("red" "50" "2")
  		#grid("red" "50" "1")
  		#ball("red" "25") 	
  		#parking("red" "20")
  		#balance("red" "18")   		
  			
  	</div>
  	
  	<div id="scoreBlue" class="score">0</div>
  	<div id="scoreRed" class="score" >0</div>

  	<script>
  	
  	var startSound = document.getElementById("charge");
  	var endAutoSound = document.getElementById("endauto");
  	var countSound = document.getElementById("teleop321");
  	var teleopSound = document.getElementById("firebell");
  	var endgameSound = document.getElementById("factwhistle");
  	var buzzerSound = document.getElementById("endmatch");
  	var foghornSound = document.getElementById("fogblast");
  	var timeout = false;
  	var timeoutLength = 300000; //Field timeout is 5 min. Alliance adds 3 min (180000)
  	var allianceTimeoutLength = 180000;
  	var allianceTO = 0;
  	var startTime = 0;
  	var pauseStart = 0;
  	var paused = false;
  	var timerInstance;
  	var endAutoFlag = false;
  	var countFlag = false;
  	var teleopFlag = false;
  	var endgameFlag = false; 
  	var rand;
  	
  	var stopScores = false;
  	
  	
  	var minDigit = document.getElementById("minDigit");
  	var colon = document.getElementById("colon");
  	var tensDigit = document.getElementById("tensDigit");
  	var onesDigit = document.getElementById("onesDigit");
  	var blueParking1 = document.getElementById("parkingblue1");
  	var blueParking2 = document.getElementById("parkingblue2");
  	var redParking1 = document.getElementById("parkingred1");
  	var redParking2 = document.getElementById("parkingred2");
  	var blueJewel1 = document.getElementById("jewelblue1");
  	var blueJewel2 = document.getElementById("jewelblue2");
  	var redJewel1 = document.getElementById("jewelred1");
  	var redJewel2 = document.getElementById("jewelred2");
  	var redBalance1 = document.getElementById("balancered1");
  	var redBalance2 = document.getElementById("balancered2");
  	var blueBalance1 = document.getElementById("balanceblue1");
  	var blueBalance2 = document.getElementById("balanceblue2");
  	
  	$().ready(function () {
  		var zoom = $("#body").width() / 1920;
  		$("#body").css("zoom", zoom);
  		//$("#body").css("top", ($("body").height() - zoom * $("body").height()) / 2);
    	getTimerCommand();
    	getDisplayCommand();
	});
	
	function getTimerCommand()
	{
	//TODO maybe adjust this so it sends last command, and if different, it returns immediately with last command
	//essentially make it a block if different
        $.ajax({
            url: "../time/command/",
            type: "GET",
            success: function (data) {
            	console.log(data);
            	if(data.indexOf("<html>")>=0){
            		//weve been redirected to login page!
            		window.location.reload(true);
            	}
            	data = data.split(",");
            
        		if(data[0] == "FIELD_TO"){
        			fieldTimeout();
        		}
        		if(data[0] == "TEAM_TO"){
        			allianceTimeout();
        		}
            
            	#if($field)
            		if(data[1] != $field && data[1] != "-1"){
            			getTimerCommand();
            			return;
            		}
            	#end
            	if(data[0] == 'START'){
            		start();
            	} else if(data[0] == 'PAUSE'){
            		pause();
            	} else if(data[0] == 'RESUME'){
            		resume();
            	} else if(data[0] == "RESET"){
            		reset();
            	}
            	getTimerCommand();
            },
            error: function () {
            	//TODO this should turn into get Last command, since we mught have missed some
                window.setTimeout(getTimerCommand, 5000);
            }});

	}
	
  	function start(){
  		timeout = false;
  		stopScores = false;
  		startTime = new Date().getTime();
  		timerInstance = setInterval(tick, 50);
  		startSound.play();
  		paused = false;
  		endAutoFlag = false;
 	 	countFlag = false;
  		teleopFlag = false;
  	    endgameFlag = false;
  		getScoreUpdate(false);
  		var tmr = document.getElementById("timer");
  		if(tmr.getAttribute("visible") == "false"){
  			showMatch();
  		}
  	}
  	function pause(){
  		pauseStart = new Date().getTime();
  		window.clearInterval(timerInstance);
  		paused = true;  		
  	}
  	function resume(){
  		startTime += new Date().getTime() - pauseStart;
  		timerInstance = setInterval(tick, 50);
  		paused = false;
  	}
  	function reset(){
  		foghornSound.play();
  		stopScores = true;
  		window.clearInterval(timerInstance);
  		display(150, 'W');
  	}
  	
  	function fieldTimeout(){
  		allianceTO = 0;
  		timeout = true;
  		startTime = new Date().getTime();
  		timerInstance = setInterval(tick, 50);
  		#if(!$ad)
  			showTimeout();
  		#end
  	}
  	function allianceTimeout(){
  		allianceTO++;
 		if(!timeout){
 			timeout = true;
 			startTime = new Date().getTime() - timeoutLength; //due to math in tick, pretend field timeout just expired
  			timerInstance = setInterval(tick, 50);
 			#if(!$ad)
  				showTimeout();
  			#end
 		}
  		
  	}
  	function endTimeout(){
  	}
  	function showTimeout(){
  		showMatch();
  		document.getElementById("top").innerHTML = "Timeout In Progress";
  		//at bottom show "Alliance Timeout Window: 3:00" / "Alliance Timeout Called"/ "Alliance Timeout Window Expired"
  		document.getElementById("scoreBar").setAttribute("visible", "false");
  		document.getElementById("scoreRed").setAttribute("visible", "false");
  		document.getElementById("scoreBlue").setAttribute("visible", "false");
  		document.getElementById("timeoutBar").setAttribute("visible", "true");
  		document.getElementById("timeoutBarImg").setAttribute("visible", "true");
  	}
  	
  	
  	function display(sec, color){
  	//THis is a ceiling becuase the value that needs to be floored is subtracted from a constant in the calling method
  		sec = Math.ceil(sec);
  		var d = document.getElementById("timer");
  		var min = Math.floor(sec / 60);
  		var s = sec % 60;
  		minDigit.src = "/digits/"+color+min+".png"
  		tensDigit.src= "/digits/"+color+Math.floor(s/10)+".png";
  		onesDigit.src = "/digits/"+color+s%10+".png";
  		colon.src = "/digits/"+color+"colon.png";
  		//d.innerHTML = min+":"+ (s < 10 ? "0" : "") + s;
  	}
  	function tick(){
  		var cur = new Date().getTime();
  		var elapsed = cur - startTime;
  		
  		if(timeout){
  			var left = ( timeoutLength + (allianceTO * allianceTimeoutLength) -elapsed );
  			display( left  / 1000 , "W");
  			if(left <= 0){  				
  				buzzerSound.play();
  				display(0, "W");
  				window.clearInterval(timerInstance);
  				return;
  			}
  			//display alliance timeout window
  			var x = "";
  			if(allianceTO > 0){
  				x = "Alliance Timeout Called";
  			} else{
  				if(left < 120000){
  					x = "Alliance Timeout Window Expired";
  				} else{
  					x = "Alliance Timeout Window: ";
  					var y = Math.ceil((left - 120000)/1000);
  					x += Math.floor(y/60) + ":";
  					var z = y % 60;
  					if(z < 10) x+= "0";
  					x += z;  					
  				}
  			}
  			document.getElementById("timeoutBar").innerHTML = x;
  			return;
  		}
  		
  		if (elapsed < 30000){
  			//autonomous
  			display(150 - (elapsed/1000), "W");
  		} else if(elapsed < 35000){
  			//end of auto, sound buzzer on first time. start 5 second pickup time
  			if(!endAutoFlag){
  				endAutoSound.play();
  				endAutoFlag = true;
  			}
  			display(5 - (elapsed-30000)/1000, "Y");
  		} else if(elapsed < 38000){
  			//sound 3,2,1...
  			if(!countFlag){
  				countFlag = true;
  				countSound.play();
  			}
  			display(3 - (elapsed-35000)/1000, "R");
  		} else if(elapsed < 128000){
  			//start teleop on first time, sound ding ding ding
  			if(!teleopFlag){
  				teleopFlag = true;
  				teleopSound.play();
  			}
  			display(120 - (elapsed-38000)/1000, "W");
  		} else if(elapsed < 158000){
  			//Start endgame, sound train whistle
  			if(!endgameFlag){
  				endgameFlag = true;
  				endgameSound.play();
  			}
  			display(30 - (elapsed-128000)/1000, "W");
  		} else{
  			//End of match, sound buzzer.
  			//stop timer! (return)
  			buzzerSound.play();
  			display(0, "W");
  			window.clearInterval(timerInstance);
  			timeout = false;
  			allianceTO = 0;
  			return;
  		}
  	}
  	display(150, "W");
  	
  	//TODO wait for load match timer command
  	
  	function getDisplayCommand()
	{
		//TODO maybe adjust this so it sends last command, and if different, it returns immediately with last command
		//essentially make it a block if different
        $.ajax({
            url: "../display/command/",
            type: "GET",
            success: function (data, textStatus, xhr) {
            	console.log(data);
            	if(data.indexOf("<html>")>=0){
            		//weve been redirected to login page!
            		window.location.reload(true);
            	}
            	data = data.split(",");
            	#if($field)
            		if(data[1] != $field && data[1] != "-1"){
            			getDisplayCommand();
            			return;
            		}
            	#end
            	if(data[0] == "SHOW_TO"){
            		showTimeout();
            	}
            	if(data[0] == 'SHOW_RANDOM'){
            		resetScores();
            		showRandom();
            		#if(!$ad)getMatchInfo();#end
            	} else if(data[0] == 'SHOW_MATCH'){
            		showMatch();
            	} else if(data[0] == 'STOP_SCORE_UPDATES'){
            		stopScores = true;
            	}
            	
            		else if(data[0] == 'SHOW_PREVIEW'){
            			$.ajax({
				  			url: "../match/",
				  			type: "GET",
				  			dataType: 'json',
				  			success: function(data){
				  				#if($ad)
				  					showPreview(data);
				  				#else
				  					fillWings(data);
				  				#end
				  			},
				  			error:function(xhr, ajaxOptions, thrownError){
					                    console.log(xhr);
					                    console.log(ajaxOptions);
					                    console.log(thrownError);
				  			}});
            		} 
            		#if($ad)
            		else if(data[0] == 'SHOW_RESULT'){
            			$.ajax({
				  			url: "../display/resultdata/",
				  			type: "GET",
				  			dataType: 'json',
				  			success: function(data){
				  				showResult(data);
				  			},
				  			error:function(xhr, ajaxOptions, thrownError){
					                    console.log(xhr);
					                    console.log(ajaxOptions);
					                    console.log(thrownError);
				  			}});
            		}
            	#end
            	getDisplayCommand();
            },
            error: function () {
            	//TODO this should turn into get Last command, since we mught have missed some
                window.setTimeout(getDisplayCommand, 5000);
            }
         });

	}
	//Gets team numbers and card info to display beside the timer.
	function getMatchInfo(){
		$.ajax({
  			url: "../match/",
  			type: "GET",
  			dataType: 'json',
  			success: function(data){
  				fillWings(data);
  			},
  			error:function(xhr, ajaxOptions, thrownError){
	                    console.log(xhr);
	                    console.log(ajaxOptions);
	                    console.log(thrownError);
  			}});
	}
	function setTop(n){
		if(n.indexOf("F") >= 0){
			if(n.indexOf("SF") >= 0){
				var sf = n.substring(3);
				var m = sf.substring(sf.indexOf('-')+1);
				sf = sf.substring(0, sf.indexOf('-'));
				n = "Semifinal "+sf+" Match "+m;
			} else{
				n = "Finals Match " + n.substring(2);
			}
		}
		document.getElementById("top").innerHTML = n;//n == -1 ? "Test Match" : ("Qualification Match "+n);
	}
	function fillWings(data){
		var wing = document.getElementById("blueWing1");
		wing.innerHTML = data.blue1;
		wing.setAttribute("card", data.blue1Card);
		
		wing = document.getElementById("blueWing2");
		wing.innerHTML = data.blue2;
		wing.setAttribute("card", data.blue2Card);
		
		wing = document.getElementById("redWing1");
		wing.innerHTML = data.red1;
		wing.setAttribute("card", data.red1Card);
		
		wing = document.getElementById("redWing2");
		wing.innerHTML = data.red2;
		wing.setAttribute("card", data.red2Card);
		
		if(typeof data.red3 !== 'undefined' && data.red3 > 0){
			wing = document.getElementById("redWing3");
			wing.innerHTML = data.red3;
			wing.setAttribute("card", data.red1Card);
			wing.setAttribute("visible", "true");
			
			wing = document.getElementById("blueWing3");
			wing.innerHTML = data.blue3;
			wing.setAttribute("card", data.blue1Card);
			wing.setAttribute("visible", "true");
			
			document.getElementById("blueWing").setAttribute("teams","3");
		
			document.getElementById("redWing").setAttribute("teams","3");
		} else{
		  document.getElementById("blueWing").setAttribute("teams","2");
		
			document.getElementById("redWing").setAttribute("teams","2");
		}
		
		setTop(data.name);
	}
	
	function resetScores(){
		//TODO reset all the images and scores to pre-match values
		var obj = {
			red:{
				parkingPoints:0,
				jewelSet1:3,
				jewelSet2:3,
				cryptobox1:0,
				cryptobox2:0,
				balanced:0,
				teleopPoints:0,
				autoPoints:0,
				foulPoints:0
			},
			blue:{
				parkingPoints:0,
				jewelSet1:3,
				jewelSet2:3,
				cryptobox1:0,
				cryptobox2:0,
				balanced:0,
				teleopPoints:0,
				autoPoints:0,
				foulPoints:0
			}
		}
		updateScores(obj);
	}
	
	function showPreview(data){
		
		var elims = typeof data.red3 !== 'undefined';

		document.getElementById("red1_number").innerHTML = data.red1;
		document.getElementById("red1_name").innerHTML = data.red1Name;
		document.getElementById("red1_rank").innerHTML = data.red1Rank == -1 || elims ? "" : data.red1Rank;
		document.getElementById("red2_number").innerHTML = data.red2;
		document.getElementById("red2_name").innerHTML = data.red2Name;
		document.getElementById("red2_rank").innerHTML = data.red2Rank == -1 || elims ? "" : data.red2Rank;
		if(elims & data.red3 != 0){
			document.getElementById("red3_number").innerHTML = data.red3;
			document.getElementById("red3_name").innerHTML = data.red3Name;
		}
		document.getElementById("blue1_number").innerHTML = data.blue1;
		document.getElementById("blue1_name").innerHTML = data.blue1Name;
		document.getElementById("blue1_rank").innerHTML = data.blue1Rank == -1 || elims ? "" : data.blue1Rank;
		document.getElementById("blue2_number").innerHTML = data.blue2;
		document.getElementById("blue2_name").innerHTML = data.blue2Name;
		document.getElementById("blue2_rank").innerHTML = data.blue2Rank == -1 || elims ? "" : data.blue2Rank;
		if(elims & data.blue3 != 0){
			document.getElementById("blue3_number").innerHTML = data.blue3;
			document.getElementById("blue3_name").innerHTML = data.blue3Name;
		}
		setTop(data.name);
	
		
		document.getElementById("timer").setAttribute("visible","false");
		document.getElementById("random").setAttribute("visible","false");
		document.getElementById("preview").setAttribute("visible","true");
		document.getElementById("result").setAttribute("visible","false");
		document.getElementById("scoreRed").setAttribute("visible",elims ? "false" : "true");
		document.getElementById("scoreBlue").setAttribute("visible",elims ? "false" : "true");
		document.getElementById("scoreBar").setAttribute("visible",elims ? "false" : "true");
	
		var statImg = document.getElementById("seriesStatusImg");
		var stat = document.getElementById("seriesStatus");
		statImg.setAttribute("visible",elims ? "true" : "false");
		stat.setAttribute("visible", elims ? "true" : "false");
		if(elims){
			if(data.redWins == data.blueWins){
				stat.innerHTML = "Series Tied " + data.redWins + " - "+data.blueWins;
				statImg.src = "/img/alliancebar92.png";
	
			} else {
				stat.innerHTML = (data.redWins > data.blueWins ? "RED" : "BLUE") + " leads series "+ data.redWins + " - "+data.blueWins;
				statImg.src = "/img/alliance"+(data.redWins > data.blueWins ? "red" : "blue") + "92.png";
			}
		} 
	
		fillWings(data);
	}
	function getArrow(dif){
		dif = parseInt(dif);
		if(dif < 0)return '&#9660;';
		if(dif > 0)return '&#9650;';
		return '&emsp;';
	}
	function getCardImage(card){
		if(card == 1)return "/img/yellowcard.png";
		if(card == 2)return "/img/redcard.png";
		if(card == 3)return "/img/yellowredcard.png";
		return "";
	}
	function showResult(data){
	
		var elims = data.name.indexOf("F") >= 0;
		
		document.getElementById("result").setAttribute("elims", elims ? "true" : "false");
	
		document.getElementById("scoreRed").setAttribute("visible","false");
		document.getElementById("scoreBlue").setAttribute("visible","false");
		document.getElementById("scoreBar").setAttribute("visible","false");
		document.getElementById("timer").setAttribute("visible","false");
		document.getElementById("random").setAttribute("visible","false");
		document.getElementById("preview").setAttribute("visible","false");
		document.getElementById("result").setAttribute("visible","true");
	
		document.getElementById("red1_resultNumber").innerHTML = data.red1;
		document.getElementById("red2_resultNumber").innerHTML = data.red2;
		
		document.getElementById("blue1_resultNumber").innerHTML = data.blue1;
		document.getElementById("blue2_resultNumber").innerHTML = data.blue2;
		
		setTop(data.name);
		
		document.getElementById("red1_resultRank").innerHTML = data.red1Rank + getArrow(data.red1Dif);
		document.getElementById("red2_resultRank").innerHTML = data.red2Rank + getArrow(data.red2Dif);
		document.getElementById("blue1_resultRank").innerHTML = data.blue1Rank + getArrow(data.blue1Dif);
		document.getElementById("blue2_resultRank").innerHTML = data.blue2Rank + getArrow(data.blue2Dif);
	
		
		document.getElementById("red1_card").setAttribute("visible", data.red1Card == 0 ? "false" : "true");
		if(data.red1Card > 0) document.getElementById("red1_card").src= getCardImage(data.red1Card);
		document.getElementById("red2_card").setAttribute("visible", data.red2Card == 0 ? "false" : "true");
		if(data.red2Card > 0) document.getElementById("red2_card").src= getCardImage(data.red2Card);
		document.getElementById("blue1_card").setAttribute("visible", data.blue1Card == 0 ? "false" : "true");
		if(data.blue1Card > 0) document.getElementById("blue1_card").src= getCardImage(data.blue1Card);
		document.getElementById("blue2_card").setAttribute("visible", data.blue2Card == 0 ? "false" : "true");
		if(data.blue2Card > 0) document.getElementById("blue2_card").src= getCardImage(data.blue2Card);
	
		document.getElementById("redField_score").innerHTML = data.redScore;
		document.getElementById("redField_penalty").innerHTML = data.bluePenalty;
		document.getElementById("redField_total").innerHTML = data.redTotal;
		document.getElementById("blueField_score").innerHTML = data.blueScore;
		document.getElementById("blueField_penalty").innerHTML = data.redPenalty;
		document.getElementById("blueField_total").innerHTML = data.blueTotal;
		
		if(elims){
			document.getElementById("redhead_resultNumber").innerHTML = "&nbsp;"+data.red1+"&nbsp;"+data.red2+"&nbsp;"+data.red3;
			document.getElementById("redheadSeed").innerHTML = data.redRank;
		
			document.getElementById("bluehead_resultNumber").innerHTML = "&nbsp;"+data.blue1+"&nbsp;"+data.blue2+"&nbsp;"+data.blue3;
			document.getElementById("blueheadSeed").innerHTML = data.blueRank;
		
			var sr = "Series Tied";
			var im = "bar";
			if(data.redWins >= 2){
				sr = "RED wins series!";
				im = "red";
			} else if(data.blueWins >= 2){
				sr = "BLUE wins series!";
				im = "blue";
			} else if(data.redWins > data.blueWins){
				sr = "RED leads series";
				im = "red";
			} else if(data.blueWins > data.redWins){
				sr = "BLUE leads series";
				im = "blue";
			} 
			document.getElementById("winnerField").innerHTML = sr;
			document.getElementById("winnerImg").src = "/img/alliance"+im+"92.png";
			document.getElementById("winnerField").setAttribute("tie", sr.indexOf("Tied")>=0 ? "true" : "false");
			
			document.getElementById("seriesResult").innerHTML = data.winChar == 'T' ? "Tie!" : (data.winChar == 'R' ? "RED Wins!" : "BLUE Wins!");
			document.getElementById("seriesResultImg").src = "/img/alliance"+(data.winChar == 'T' ? "bar" : (data.winChar == 'R' ? "red" : "blue")) + "92.png";
			document.getElementById("seriesResult").setAttribute("tie", data.winChar == 'T' ? "true" : "false");
			
			document.getElementById("redhead_card").setAttribute("visible", data.red1Card == 0 ? "false" : "true");
			if(data.red1Card > 0) document.getElementById("redhead_card").src=getCardImage(data.red1Card);
			document.getElementById("bluehead_card").setAttribute("visible", data.blue1Card == 0 ? "false" : "true");
			if(data.blue1Card > 0) document.getElementById("bluehead_card").src=getCardImage(data.blue1Card);
		
		} else{
			document.getElementById("redhead_resultNumber").innerHTML = "Team";
			document.getElementById("bluehead_resultNumber").innerHTML = "Team";
			document.getElementById("winnerField").innerHTML = data.winChar == 'T' ? "Tie!" : (data.winChar == 'R' ? "RED Wins!" : "BLUE Wins!");
			document.getElementById("winnerImg").src = "/img/alliance"+(data.winChar == 'T' ? "bar" : (data.winChar == 'R' ? "red" : "blue")) + "92.png";
			document.getElementById("winnerField").setAttribute("tie", data.winChar == 'T' ? "true" : "false");
		}
		

	
		
	}
	
	function showRandom(){
		//get random
		 $.ajax({
                url: "../random/",
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    rand=data.rand;
                    document.getElementById("timer").setAttribute("visible","false");
                   	document.getElementById("preview").setAttribute("visible","false");
                   	document.getElementById("scoreRed").setAttribute("visible","true");
					document.getElementById("scoreBlue").setAttribute("visible","true");
					document.getElementById("scoreBar").setAttribute("visible","true");
					document.getElementById("result").setAttribute("visible","false");
					
                    var r = document.getElementById("random");
                    r.setAttribute("visible", "true");
                    //TODO sizes?
                    r.children[0].src = "/img/random"+rand+"_75.png"
                    initJewels(rand)
                },
                error: function () {
                    //ERROR HANDLING
                    console.log("Error");
                    //window.setTimeout(showRandom, 5000);
                }});
	}
	function initJewels(r){
		var src = r < 4 ? "/img/ball-split-flip25.png": "/img/ball-split25.png";
		blueJewel1.src = src;
		blueJewel2.src = src;
		redJewel1.src = src;
		redJewel2.src = src;
	} 
	
	function showMatch(){
		document.getElementById("timer").setAttribute("visible","true");
		document.getElementById("random").setAttribute("visible","false");
		document.getElementById("preview").setAttribute("visible","false");
		document.getElementById("scoreRed").setAttribute("visible","true");
		document.getElementById("scoreBlue").setAttribute("visible","true");
		document.getElementById("scoreBar").setAttribute("visible","true");
		document.getElementById("result").setAttribute("visible","false");
		
		
  		document.getElementById("timeoutBar").setAttribute("visible", "false");
  		document.getElementById("timeoutBarImg").setAttribute("visible", "false");
	}
	
	
	var lastBreakdown = 0;
	function getScoreUpdate(block){
  		var data = {};
  		activeUpdateRequest = $.ajax({
  			url: "../scorebreakdown/",
  			type: "GET",
  			dataType: 'json',
  			data: {
  				block:block,
  				last:lastBreakdown
  			},
  			success: function(data){  			
  				lastBreakdown = data.ts;
  				updateScores(data);
  				if(!stopScores){
  					window.setTimeout(function(){getScoreUpdate(true);}, 1000);
  				}
  			},
  			error: function(xhr, ajaxOptions, thrownError){
  				if(xhr.responseText != "No match loaded" && !stopScores){
  					window.setTimeout(function(){getScoreUpdate(true);}, 1000);
  				}
  			}});
  	}
  	function getJewelImage(val, flip){
  		//empty
  		if(val == 0) return "/img/ball-split_black25.png";
  		//full
  		if(val == 3) return "/img/ball-split" + (flip ? "-flip" : "") + "25.png";
  		//left missing
  		if(val == 1) return "/img/ball-split" + (flip ? "-flip_blue" : "_red") + "25.png";
  		//right missing
  		if(val == 2) return "/img/ball-split" + (flip ? "-flip_red" : "_blue") + "25.png";
  	}
  	
  	function setCryptobox(alliance, index, val){
  		for(var r = 0; r < 4; r++){
			for(var c = 0; c < 3; c++){
				var cell = document.getElementById(alliance+"_"+index+"_"+r+"_"+c);
				var enc = (val >> ((6 * r) + (2*c))) & 3;
				cell.setAttribute("visible", enc == 0 ? "false" : "true");
				cell.src = enc == 1 ? "/img/brown-square50.png" : "/img/grey-square50.png";
			}
		} 
		var ciph = ""; 	
		if(val == 6710886 || ((~val) & 0xFFFFFF) == 6710886){
			ciph = "froggy";
		} else if(val == 6908265 || ((~val) & 0xFFFFFF) == 6908265){
			ciph = "snake";
		} else if(val == 10065510 || ((~val) & 0xFFFFFF) == 10065510){
			ciph = "bird";
		}
		var cipher = document.getElementById("gridCipher_"+alliance+"_"+index);
		cipher.setAttribute("visible", ciph == "" ? "false" : "true");
		if(ciph != ""){
			cipher.src = "/img/"+ciph+"-grid-"+alliance+"50.png"
		}
  	}
  	
  	function updateScores(obj){
  		var flip = rand < 4;  	
  	
  		blueParking1.src = obj.blue.parkingPoints > 0 ? "/img/parking_blue20.png" : "/img/parking_black20.png" ;
  		blueParking2.src = obj.blue.parkingPoints == 20 ? "/img/parking_blue20.png" : "/img/parking_black20.png" ;
  		redParking1.src = obj.red.parkingPoints > 0 ? "/img/parking_red20.png" : "/img/parking_black20.png" ;
  		redParking2.src = obj.red.parkingPoints == 20 ? "/img/parking_red20.png" : "/img/parking_black20.png" ;
  		
  		redBalance1.src = obj.red.balancePoints > 0 ? "/img/tt_red18.png" : "/img/tt_black18.png";
  		redBalance2.src = obj.red.balancePoints > 20 ? "/img/tt_red18.png" : "/img/tt_black18.png";
  		blueBalance1.src = obj.blue.balancePoints > 0 ? "/img/tt_blue18.png" : "/img/tt_black18.png";
  		blueBalance2.src = obj.blue.balancePoints > 20 ? "/img/tt_blue18.png" : "/img/tt_black18.png";
  		
  		blueJewel1.src = getJewelImage(obj.blue.jewelSet1, flip);
  		blueJewel2.src = getJewelImage(obj.blue.jewelSet2, flip);
  		redJewel1.src = getJewelImage(obj.red.jewelSet1, flip);
  		redJewel2.src = getJewelImage(obj.red.jewelSet2, flip);
  		
  		setCryptobox('blue', 1, obj.blue.cryptobox1);
  		setCryptobox('blue', 2, obj.blue.cryptobox2);
  		setCryptobox('red', 1, obj.red.cryptobox1);
  		setCryptobox('red', 2, obj.red.cryptobox2);
  		
  		
  		document.getElementById("scoreRed").innerHTML = parseInt(obj.red.teleopPoints) + parseInt(obj.red.autoPoints) + parseInt(obj.red.foulPoints);
  		document.getElementById("scoreBlue").innerHTML = parseInt(obj.blue.teleopPoints) + parseInt(obj.blue.autoPoints) + parseInt(obj.blue.foulPoints);
  	}
  	
  	
  	</script>
  
	</div>	
	</body>
<div id="preload" style="display:none;">
<img src="/img/random1_75.png" width="1" height="1" alt="Image 03" />
<img src="/img/random2_75.png" width="1" height="1" alt="Image 03" />  
<img src="/img/random3_75.png" width="1" height="1" alt="Image 03" />  
<img src="/img/random4_75.png" width="1" height="1" alt="Image 03" />  
<img src="/img/random5_75.png" width="1" height="1" alt="Image 03" />  
<img src="/img/random6_75.png" width="1" height="1" alt="Image 03" />     
   <img src="/digits/Wdigitoff.png" width="1" height="1" alt="Image 01" />
   <img src="/digits/Wcolon.png" width="1" height="1" alt="Image 02" />
   <img src="/digits/Rcolon.png" width="1" height="1" alt="Image 02" />
   <img src="/digits/Ycolon.png" width="1" height="1" alt="Image 02" />
   <img src="/digits/W0.png" width="1" height="1" alt="Image 03" />
   <img src="/digits/W1.png" width="1" height="1" alt="Image 03" />
   <img src="/digits/W2.png" width="1" height="1" alt="Image 03" />
   <img src="/digits/W3.png" width="1" height="1" alt="Image 03" />
   <img src="/digits/W4.png" width="1" height="1" alt="Image 03" />
   <img src="/digits/W5.png" width="1" height="1" alt="Image 03" />
   <img src="/digits/W6.png" width="1" height="1" alt="Image 03" />
   <img src="/digits/W7.png" width="1" height="1" alt="Image 03" />
   <img src="/digits/W8.png" width="1" height="1" alt="Image 03" />
   <img src="/digits/W9.png" width="1" height="1" alt="Image 03" />
   <img src="/digits/Y0.png" width="1" height="1" alt="Image 03" />
   <img src="/digits/Y1.png" width="1" height="1" alt="Image 03" />
   <img src="/digits/Y2.png" width="1" height="1" alt="Image 03" />
   <img src="/digits/Y3.png" width="1" height="1" alt="Image 03" />
   <img src="/digits/Y4.png" width="1" height="1" alt="Image 03" />
   <img src="/digits/Y5.png" width="1" height="1" alt="Image 03" />   
   <img src="/digits/R0.png" width="1" height="1" alt="Image 03" />   
   <img src="/digits/R1.png" width="1" height="1" alt="Image 03" />   
   <img src="/digits/R2.png" width="1" height="1" alt="Image 03" />   
   <img src="/digits/R3.png" width="1" height="1" alt="Image 03" /> 
   <img src="/img/grid-blank_blue50.png" width="1" height="1" alt="Image 03" /> 
   <img src="/img/grid-blank_red50.png" width="1" height="1" alt="Image 03" /> 
   <img src="/img/parking_black20.png" width="1" height="1" alt="Image 03" /> 
   <img src="/img/parking_blue20.png" width="1" height="1" alt="Image 03" /> 
   <img src="/img/parking_red20.png" width="1" height="1" alt="Image 03" /> 
   <img src="/img/tt_black18.png" width="1" height="1" alt="Image 03" /> 
   <img src="/img/tt_blue18.png" width="1" height="1" alt="Image 03" /> 
   <img src="/img/tt_red18.png" width="1" height="1" alt="Image 03" /> 
   <img src="/img/ball-split25.png" width="1" height="1" alt="Image 03" /> 
   <img src="/img/ball-split_red25.png" width="1" height="1" alt="Image 03" />  
   <img src="/img/ball-split_blue25.png" width="1" height="1" alt="Image 03" />  
   <img src="/img/ball-split_black25.png" width="1" height="1" alt="Image 03" />
   <img src="/img/ball-split-flip25.png" width="1" height="1" alt="Image 03" /> 
   <img src="/img/ball-split-flip_red25.png" width="1" height="1" alt="Image 03" />  
   <img src="/img/ball-split-flip_blue25.png" width="1" height="1" alt="Image 03" />    
   <img src="/img/brown-square50.png" width="1" height="1" alt="Image 03" />
   <img src="/img/grey-square50.png" width="1" height="1" alt="Image 03" />    
   <img src="/img/bird-grid-blue50.png" width="1" height="1" alt="Image 03" /> 
   <img src="/img/bird-grid-red50.png" width="1" height="1" alt="Image 03" /> 
   <img src="/img/froggy-grid-blue50.png" width="1" height="1" alt="Image 03" /> 
   <img src="/img/froggy-grid-red50.png" width="1" height="1" alt="Image 03" /> 
   <img src="/img/snake-grid-blue50.png" width="1" height="1" alt="Image 03" /> 
   <img src="/img/snake-grid-red50.png" width="1" height="1" alt="Image 03" />    
   <img src="/img/alliancebar92.png" width="1" height="1" alt="Image 03" />
   <img src="/img/alliancered92.png" width="1" height="1" alt="Image 03" />
   <img src="/img/allianceblue92.png" width="1" height="1" alt="Image 03" />
   <img src="/img/yellowcard.png" width="1" height="1" alt="Image 03" />
   <img src="/img/yellowredcard.png" width="1" height="1" alt="Image 03" />
   <img src="/img/redcard.png" width="1" height="1" alt="Image 03" />
</div>
</html>