##
## Copyright (c) 2016-2018 Thomas Barnette and Trey Woodlief
## All Rights Reserved.
##

#parse("/velocity/layout.vm")
#@mainLayout()
<script>

function random(){
	var postObj = {};
	$.post("../randomize/",postObj).done(function(data){
		console.log(data);
		//TODO listen for randomization by scorekeeper
		//after button click, HR has option to rerandomize until match starts
		//once match starts, HR has info and stuff. And can enter cards.
	}).fail( function(xhr, textStatus, errorThrown) {
        console.log(textStatus);
    });
}

</script>
<button onClick="random()">Randomize</button>
#end