#parse("/velocity/layout.vm")
#@mainLayout()
<script>

function random(){
	var postObj = {};
	$.post("../randomize/",postObj).done(function(data){
		console.log(data);
	}).fail( function(xhr, textStatus, errorThrown) {
        console.log(textStatus);
    });
}

</script>
<button onClick="random()">Randomize</button>
#end