##
## Copyright (c) 2016-2018 Thomas Barnette and Trey Woodlief
## All Rights Reserved.
##

#parse("/velocity/layout.vm")
#@mainLayout()
This is the inspection home page for $eventName.
<br>
It will have links and usefull info on it!
#end