#parse("/velocity/layout.vm")
#@mainLayout()
<style>
td {
width:auto;
}
</style>
<script>
function update(src){ //TODO move this to a separate js file.
	var x = !eval(src.checked);
	src.checked = x;
	src.innerHTML = x ? "&#x2713" : "";
	var sp = src.id.split("_");
	var postObj = {form:sp[0], team:sp[1], index:sp[2], state:x};
	src.bgColor = "#FFFF00";
	$.post("./",postObj).done(function(data){
		if(eval(data) == eval(src.checked)){
			//we good.
			src.bgColor = "#FFFFFF";
		} else{
			//probs been clicked since query sent, we dont care no more.
			console.log("OH NO!");
		}
	}).fail( function(xhr, textStatus, errorThrown) {
        src.bgColor = "#FF0000";
    });
}

function saveNote(src){
	var t = src.getAttribute("team");
	var ta =  document.getElementById("note_"+t);
	var obj = {team:t, note:ta.value}
	$.ajax({
        url: "./note/",
        type: "PUT",
        data: obj,
        success: function (data) {    
        	ta.bgColor = "#FFFFFF";  
        },
        error: function () {
            //ERROR HANDLING
            console.log("Error");
            ta.bgColor = "#FF0000";
        }
     });
}

function saveSig(src){
	var t = src.getAttribute("team");
	var person = src.getAttribute("person");
	var field = document.getElementById(person+"_"+t);
	var obj = {team:t, index:person=='insp'?0:1, sig:field.value};
	$.ajax({
        url: "./sig/",
        type: "PUT",
        data: obj,
        success: function (data) {    
        	field.bgColor = "#FFFFFF";   
        },
        error: function () {
            //ERROR HANDLING
            console.log("Error");
            field.bgColor = "#FF0000";
        }
     });
}


</script>
<head>
<h2>
Appendix
 #if($formID == "HW")B - Robot Inspection Checklist #end
 #if($formID == "SW")C - Field Inspection Checklist #end 
 #if($formID == "FD")C - Field Inspection Checklist #end
</h2>
</head>
<table border=1 cellpadding=0 cellspacing=0 style="border-collapse:collapse;">
	#foreach($f in $form)
		#set ($x = $max / $f.items.size())		
		#if($f.type == 1)	
			<tr bgcolor=$headerColor>	
					#foreach($c in $f.items)	
							<th colspan=$x id=$c.id>$c.getLabel()</th>				
					#end
				<th>$f.description</th>
				<th>#if($f.rule)$f.rule#end</th>
			</tr>
		#else
			<tr height=30px>
					#foreach($c in $f.items)					
						<td colspan=$x id=$c.id class=$c.required align="center" onclick="update(this)" checked = $c.checked>
							#if($c.checked)
								&#x2713;
							#end
						</td>
					#end
				<td>$f.description</td>
				<td>#if($f.rule)<a href="https://www.firstinspires.org/sites/default/files/uploads/resource_library/ftc/2017-2018/game-manual-part-1.pdf#page=$f.page" >$f.rule</a>#end</td>
			</tr>
		#end
	#end	
</table>
#if($teams.size() > 1)
	#set($i = 0)
	#set($j = 0)
	#foreach($t in $teams)
		<br>
		<fieldset>
		<legend>Team $t</legend>
		<b>General Comments or Reasons for Failure:</b>
		<br><textarea id="note_$t" rows=4 style="width:100%;">$notes.get($j)</textarea>
		<button team=$t onclick="saveNote(this)">Save</button>
		<br><br><b>
		I hereby state that all the above is true, and to the best of my knowledge all rules and regulations of the FIRST<sup>®</sup> Tech Challenge have been abided by.
		</b>
		<table width="100%" cellspacing=20>
		<tr><td>Inspector</td><td>Team Student Representative</td></tr>
			<tr>
				<td><input id="insp_$t" value="$sigs.get($i)" ></input>
				<button team=$t person="insp" onclick="saveSig(this)">Agree</button></td>
				#set($i = $i+1)
				<td><input id="tsr_$t" value="$sigs.get($i)"></input>
				<button team=$t person="tsr" onclick="saveSig(this)">Agree</button></td></tr>
			
		</table>
		<br>
		</fieldset>
		#set($i = $i + 1)
		#set($j = $j + 1)
	#end
#else
	#set($t = $teams.get(0))
	<br><b>General Comments or Reason(s) for Failure:</b>
	<br><textarea id="note_$teams.get(0)" rows=4 style="width:100%;">$notes.get(0)</textarea>
	<button team=$t) onclick="saveNote(this)">Save</button>
	<br><br><b>
	I hereby state that all the above is true, and to the best of my knowledge all rules and regulations of the FIRST<sup>®</sup> Tech Challenge have been abided by.
	</b>
	<table width="100%" cellspacing=20>
		<tr><td>Inspector</td><td>Team Student Representative</td></tr>
		<tr><td><input id="insp_$t" value="$sigs.get(0)"></input>
			<button team=$t person="insp" onclick="saveSig(this)">Agree</button></td>
			<td><input id="tsr_$t" value="$sigs.get(1)"></input>
			<button team=$t person="tsr"  onclick="saveSig(this)">Agree</button></td></tr>
		
	</table>
	<br><br>
	<div style="width:100%">
	<div style=" text-align:center">
		<button>Pass</button>
		 &nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;
		<button>Fail</button>
	</div>
	</div>
#end

#end