#parse("/velocity/layout.vm")
#@mainLayout()
<script>
function update(src){ //TODO move this to a separate js file.
	var x = !eval(src.checked);
	src.checked = x;
	src.innerHTML = x ? "&#x2713" : "";
	var sp = src.id.split("_");
	var postObj = {form:sp[0], team:sp[1], index:sp[2], state:x};
	src.bgColor = "#FFFF00";
	$.post("./",postObj).done(function(data){
		if(eval(data) == eval(src.checked)){
			//we good.
			src.bgColor = "#FFFFFF";
		} else{
			//probs been clicked since query sent, we dont care no more.
			console.log("OH NO!");
		}
	}).fail( function(xhr, textStatus, errorThrown) {
        src.bgColor = "#FF0000";
    });
}
</script>
<table border=1 cellpadding=0 cellspacing=0 style="border-collapse:collapse;">
	#foreach($f in $form)
		#set ($x = $max / $f.items.size())		
		#if($f.type == 1)	
			<tr bgcolor=$headerColor>	
					#foreach($c in $f.items)	
							<th colspan=$x id=$c.id>$c.getLabel()</th>				
					#end
				<th>$f.description</th>
				<th>#if($f.rule)$f.rule#end</th>
			</tr>
		#else
			<tr height=30px>
					#foreach($c in $f.items)					
						<td colspan=$x id=$c.id class=$c.required align="center" onclick="update(this)" checked = $c.checked>
							#if($c.checked)
								&#x2713;
							#end
						</td>
					#end
				<td>$f.description</td>
				<td>#if($f.rule)$f.rule#end</td>
			</tr>
		#end
	#end
</table>
#end