#parse("/velocity/layout.vm")
#@mainLayout()
<style>
	option {
		font-family: "Lucida Console", Monaco, monospace;
	}
	td {
		vertical-align:top;
	}
	.rad {
		width:5%;
	}
	select {
		width:100%;
		margin-top:12px;
	}
</style>
<script>
	function addTeam(){
		$.ajax({
			url: "",
  			type: "POST",
  			data: {team:document.getElementById("team").value},
  			success: function(data){
  				document.getElementById("team").value = "";
  				document.getElementById("msg").innerHTML = "Team added";
  				var dataMap = JSON.parse(data);
  				var teamNum = dataMap.team;
  				teamMap[teamNum] = dataMap.name;
          		// https://paulund.co.uk/add-an-remove-options-in-select-using-jquery
          		var disp = "&nbsp;".repeat(5 - teamNum.length) + teamNum + ": " + dataMap.name;
          		$("#teamSelect").append('<option value="' + teamNum + '">' + disp + '</option>');
          		
          		 //copied from: https://stackoverflow.com/questions/12073270/sorting-options-elements-alphabetically-using-jquery
 		        var options = $('#teamSelect option');
 		        var arr = options.map(function(_, o) { return { t: $(o).text(), v: parseInt(o.value) }; }).get();
 				arr.sort(function(o1, o2) { return o1.v > o2.v ? 1 : o1.v < o2.v ? -1 : 0; });
 				options.each(function(i, o) {
 		  			o.value = arr[i].v;
 		  			$(o).text(arr[i].t);
 				});
          		
  			},
  			error:function(xhr, ajaxOptions, thrownError){  				
                console.log(xhr);
                console.log(ajaxOptions);
                console.log(thrownError);
                document.getElementById("msg").innerHTML = xhr.responseText;
  			}});  	
	}
	function removeTeams(){
		var options = $("#teamSelect option:selected");
        var arr = options.map(function(_, o) { return o.value; }).get();
		$.ajax({
			url: "?teams="+arr.toString(),
  			type: "DELETE",
  			data: {},
  			success: function(data){
  				document.getElementById("team").value = "";
  				document.getElementById("msg").innerHTML = "Team successfully removed";
  				//https://paulund.co.uk/add-an-remove-options-in-select-using-jquery
  				var i = 0;
  				for (i = 0; i < arr.length; i++) {
  					$("#teamSelect option[value='" + arr[i] + "']").remove();
  				}
  			},
  			error:function(xhr, ajaxOptions, thrownError){  				
                console.log(xhr);
                console.log(ajaxOptions);
                console.log(thrownError);
                document.getElementById("msg").innerHTML = xhr.responseText;
  			}});  	
	}
	
	function editTeamName() {
				$.ajax({
			url: "?team="+$("#teamSelect option:selected").val()+"&name="+$("#selectedTeamName").val(),
  			type: "PUT",
  			data: {},
  			success: function(data){
  				document.getElementById("team").value = "";
  				document.getElementById("msg").innerHTML = "Team name updated";
  				var teamNum = $("#teamSelect option:selected").val();
  				teamMap[teamNum] = $("#selectedTeamName").val();
  				var disp = "&nbsp;".repeat(5 - teamNum.length) + teamNum + ": " + $("#selectedTeamName").val();
  				$("#teamSelect option[value='" + teamNum + "']").html(disp);
  			},
  			error:function(xhr, ajaxOptions, thrownError){  				
                console.log(xhr);
                console.log(ajaxOptions);
                console.log(thrownError);
                document.getElementById("msg").innerHTML = xhr.responseText;
  			}});  
	}
	var teamMap = {
	#foreach($team in $teamList)
	"$team.number":"$team.name",
	#end
	};
			function populateFields() {
##			var radioValue = $("input[name='teamList']:checked").val();
			var radioValue = $("#teamSelect option:selected").val();
            if(radioValue){
                $("#selectedTeamNumber").html(radioValue);
                $("#selectedTeamName").val(teamMap[radioValue]); 
            } else {
            	$("#selectedTeamName").html('');
            	$("#selectedTeamNumber").val("");
            }
		}
	$(document).ready(function(){
##        $("input[type='radio']").click(populateFields);
				populateFields();        
		$('#team').keydown(function (e){
    		if(e.keyCode == 13){
        		addTeam();
    		}
		});
		$('#selectedTeamName').keydown(function (e){
    		if(e.keyCode == 13){
        		editTeamName();
    		}
		});
    });
    
</script>
<table>
<tr>
<td>
<input type="text" id="team"></input>
</td><td>
<button onclick="addTeam()">Add Team</button>
</td></tr></table>
<div id="msg"></div>
<table>
<tr><th>Select Team</th><th>Edit Team Details</th></tr>
<tr>
<td> <!-- List of teams -->
##foreach($team in $teamList)
##set($spaces = 6 - $team.numDigits)
##<label><input class="rad" type="radio" name="teamList" value="$team.number">#foreach($x in [1..$spaces])&nbsp;#end$team.number: $team.name</label><br>
##end
<select id="teamSelect" onchange="populateFields()">
#foreach($team in $teamList)
#set($spaces = 6 - $team.numDigits)
<option value="$team.number">#foreach($x in [1..$spaces])&nbsp;#end$team.number: $team.name</option>
#end
</select>
</td>
<td> <!-- Info about team -->
<table>
<tr>
<td>
Team Number:</td><td id="selectedTeamNumber"></td>
</tr><tr>
<td style="padding-top:12px">Team Name:</td><td><input type="text" id="selectedTeamName"></input></td>
</tr>
<tr>
<td colspan="2"><input type="button" onclick="editTeamName()" class="good notification" value="Edit Team Name"></td>
</tr><tr>
<td colspan="2"><input type="button" onclick="removeTeams()" class="bad notification" value="Remove Team from Event"></td>
</tr>
</table>
</td>
</tr>
</table>


#end