#parse("/velocity/layout.vm")
#@mainLayout()

<script>
	function setStatus(s){
		$.ajax({
			url: "./status/",
  			type: "POST",
  			data: {status:s},
  			success: function(data){
  				window.location.reload(true);
  			},
  			error:function(xhr, ajaxOptions, thrownError){  				
                console.log(xhr);
                console.log(ajaxOptions);
                console.log(thrownError);
  			}});  	
	}
	function saveZip() {
		window.open("./zip/", "");
	}
	
	function importTeams(){
		var files = document.getElementById("teamsFile").files;
		var formData = new FormData();
		formData.append("file",files[0], files[0].name);
		
		
		$.ajax({
	       url : 'teams/import/',
	       type : 'POST',
	       data : formData,
	       processData: false,  // tell jQuery not to process the data
	       contentType: false,  // tell jQuery not to set contentType
	       success : function(data) {
	           document.getElementById("teamStatus").innerHTML = "<font color='green'>"+data+"</font>";
	       },
	       fail : function(xhr, textStatus, error){
			  document.getElementById("teamStatus").innerHTML = "<font color='red'>ERROR</font>";
			}
		});
	}
</script>


<form id="loginForm" method="post">
	<h2>Manage $eventCode: $eventName</h2>
	<label>Event Code:</label>
	<input type="text" value="$eventCode" readonly>
	<label>Event Name:</label>
	<input type="text" value="$eventName" name="eventName">
	<label>Event Date:</label>
	<!-- the id="datepicker" lets jquery know that this needs to be all fancy-->
	<input type="text" name="eventDate" id="datepicker" value="$eventDate">	
	<input type="button" value="Update Event Info">
	

</form>

	<label>Event Status:</label>
	#if($status == 0)
		Future
		<br>
		Next Step: Setting the event to "Setup" creates the event database and allows the entering of teams. If this server instance will be sending updates to a remote server, do NOT proceed. Go to <a href="">Server Config</a> to configure remotes.<br>
		If setting up Inter-Division Finals, do NOT proceed. Use <a href="divisionupload/">this form</a> to import division winners.<br>
		<button onclick="setStatus(1)">Setup Event</button>
	#elseif($status == 1)
		Setup
		<br>
		This Step:Use <a href="./teams/">this form</a> to add/remove teams from the event<br>
		<br>
		<fieldset>
			<legend>Import Team List</legend>
			Alternatively, if you have a teams.txt file exported from the FIRST Official Scoring app, you can use that to populate teams. If a team exists in the system, this operation will overwrite their name and location.
			<br>
			<input id="teamsFile" type="file" name="file"/>
			<button id="importTeams" onclick="importTeams()">Import Teams</button><div id="teamStatus"></div>
		</fieldset>
		Next Step: After the team list is complete, setting the event to "inspection" 
		populates the necessary info for inspection to begin. Make sure ALL teams are entered.
	After starting inspection, TEAMS CANNOT BE ADDED. They can be removed until matches start.
		<br>
		<button onclick="setStatus(2)">Start Inspection</button>
	
	#elseif($status == 2)
		Inspection
		<br>
		This Step: Inspect teams!<br>
		If you need to edit teams, do so <a href="./teams/">here</a>.
		<br>
		Next Step: Make sure all non-competing teams are removed from the system. Use the FIRST official scoring software to generate matches.
		 <button onclick="setStatus(3)">Start Qualification</button>
	#elseif($status == 3)
		Qualification
		<br>
		This Step: Upload Quals schedule <a href="./scheduleupload/">here.</a>
		Then the event is ready! <br>
		
		If you need to edit team names or remove teams, do so <a href="./teams/">here</a>.<br>
		Next Step: After Finishing Quals, begin the alliance selection:
		<button onclick="setStatus(4)">Alliance Selection</button>
	#elseif($status == 4)
		Alliance Selection
		<br>
		This Step: Use the FIRST software to generate alliances.  Upload alliances <a href="./allianceupload/">here.</a>
		<br>
		Next Step: After uploading alliances, begin elims:
		<button onclick="setStatus(5)">Eliminations</button>
	#elseif($status == 5)
		Eliminations
		<br>
		This Step: Play elimination matches.
		<br>
		Next Step: After completion, mark event as completed.
		<button onclick="setStatus(6)">Complete</button>
	#elseif($status == 6)
		Complete!
		<br>
		<button onclick="saveZip()">Save Inspection Forms and Score Sheets</button>
	#end
	<!--
	<select name="eventStage">
  		<option value="future" #if($status == 0)selected#end>Future</option>
  		<option value="setup" #if($status == 1)selected#end>Setup</option>
  		<option value="inspection" #if($status == 2)selected#end>Inspection</option>
  		<option value="quals" #if($status == 3)selected#end>Qualifications</option>
  		<option value="elims" #if($status == 5)selected#end>Eliminations</option>
  		<option value="final" #if($status == 6)selected#end>Completed</option>
	</select>	
	-->
#end