##
## Copyright (c) 2016-2018 Thomas Barnette and Trey Woodlief
## All Rights Reserved.
##

<!-- Copyright (c) 2016-2018 Thomas Barnette and Trey Woodlief -->
<!-- All Rights Reserved.                                      -->

<html>
<style>
/* This is all common to the field display */
	#top{
		position:absolute;
		top:30px;
		left:400;
		width:1120;
		font:60px  "Arial Black", Arial, Helvetica, sans-serif;
		text-align:center;
	}
	body {
		overflow:hidden;
		max-width:100%;
		max-height:100%;
		margin:0;
		padding:0;
		background:black;
	}
	#body {
		background-repeat:no-repeat;
		background-image:url('/img/DisplayBackgroundHD.png');
		width:100%;
		height:100%;
		position:absolute;
	}
	#bottomCover {
		background-repeat:no-repeat;
		background-image:url('/img/DisplayBackgroundBOTTOMHD.png');
		width:100%;
		height:100%;
		position:absolute;
	}
	/* begin things not common with the field display */
	#rankingTable {
		position: absolute;
		left: 392.5px;
		top: 200px;
		width:485px;
	}
	#matchTable {
		position: absolute;
		left: 1077.5px;
		top: 200px;
		width:450px;
	}
	th, td {
		padding: 10px;
		font:25px  "Arial Black", Arial, Helvetica, sans-serif;
	}
	td {
		font:25px  "Arial", Arial, Helvetica, sans-serif;
	}
	#matchTable td,
	#matchTable th {
		width:50%;
	}
</style>

<body>
<div align=center id="body">
<script src="/js/jquery-1.12.4.js"></script>
  	<script src="/js/jquery-ui.js"></script>
  	<script src="/js/general.js"></script>
<div id="top">
Pit Display
</div>
  	<table border="3" id="rankingTable">
  	<!-- The first row should never be moved -->
  	<tr><th>Rank</th><th>Team&nbsp;#</th><th>QP</th><th>RP</th><th>Plays</th></tr>
  	#set($i = 0)
#foreach($r in $rankings)
	#if($i % 2 == 0)
		#set ($c = "#FFFFFF")	
	#else
		#set ($c = "#CCCCCC")
	#end
	#set($i = $i + 1)
	<tr  align=center class="move">
		<td bgcolor=$c>$i</td>
		<td bgcolor="$c">$r.team.number</td>
		<td bgcolor="$c">$r.QP</td>
		<td bgcolor="$c">$r.RP</td>
		<td bgcolor="$c">$r.plays</td>
	</tr>
	
#end
	#if($i % 2 == 0)
		#set ($c = "#FFFFFF")	
	#else
		#set ($c = "#CCCCCC")
	#end
	<tr  align=center class="move">
		<TD bgcolor=$c>&nbsp;</TD>
		<TD bgcolor="$c"></TD>
		<TD bgcolor="$c"></TD>
		<TD bgcolor="$c"></TD>
		<TD bgcolor="$c"></TD>
	</tr>
  	</table>
  	
  	<table border="3" id="matchTable">
  	<!-- The first row should never be moved -->
  	<tr><th>Match</th><th>Results</th></tr>
  	
  	
  	#set ($redColor = "#FF4444")
#set ($blueColor = "#44AAFF")
#set($i = 0)
#foreach($m in $matches)
	#if($i % 2 == 0)
		#set ($c = "#FFFFFF")	
	#else
		#set ($c = "#CCCCCC")
	#end
		<TR ALIGN=CENTER class="move">
		<TD BGCOLOR="$m.winColor">
			#if($m.isElims())
				$m.name
			#else
				Q-$m.number
			#end
		</TD>
		<TD BGCOLOR="$m.winColor">
			#if($m.status == 1)
				${m.getRedTotal()}-${m.getBlueTotal()} $m.winChar
			#elseif ($m.status == 0)
				Unplayed
			#end
		</TD>
		</TR>
			#set($i = $i + 1)
#end
	#if($i % 2 == 0)
		#set ($c = "#FFFFFF")	
	#else
		#set ($c = "#CCCCCC")
	#end
	<tr bgcolor=$c class="move">
	<td>&nbsp;</td>
	<td></td>
	</tr>
  	
  	</table>
  	<div id="bottomCover">
  	</div>
</div>
<script>
  	$().ready(function () {
  		var zoom = $("#body").width() / 1920;
  		$("#body").css("zoom", zoom);
  		//$("#body").css("top", ($("body").height() - zoom * $("body").height()) / 2);
  		
  		setInterval(function() {
  			$("#rankingTable .move").slice(0, 5).appendTo("#rankingTable");
  			$("#matchTable .move").slice(0, 5).appendTo("#matchTable");
  		}, 3000);
  		setInterval(function() {
  			$.get(".").done(function(data){
  				##taken from https://stackoverflow.com/questions/6758081/javascript-document-innerhtml-set-content-of-whole-document
  	  			document.write(data);
  	  		}).fail( function(xhr, textStatus, errorThrown) {
  	        	console.log(textStatus);
  	    	});
  		}, 180000);
  		//window.setTimeout(function(){window.location.reload(true);}, 180000);
	});
</script>
</body>
<div id="preload" style="display:none;">

</div>
</html>