#parse("/velocity/layout.vm")
#@mainLayout()
<head>
<style>
@media print
{
  table { page-break-after:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  td    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }
}
</style>

<TITLE>Team Rankings</TITLE>
</head>
<a href=".."><< To Event Home</a>
<CENTER><H2>$event<BR>
Team Rankings</H2></CENTER>
<HR>
<DIV ALIGN=CENTER><TABLE BORDER=2 CELLPADDING=5 CELLSPACING=1 WIDTH=75%>
<TR ALIGN=CENTER><TH BGCOLOR="#CCCCCC">Rank</TH><TH BGCOLOR="#CCCCCC">Team #</TH><TH BGCOLOR="#CCCCCC">Team Name</TH><TH BGCOLOR="#CCCCCC">QP</TH><TH BGCOLOR="#CCCCCC">RP</TH><TH BGCOLOR="#CCCCCC">Highest</TH><TH BGCOLOR="#CCCCCC">Matches</TH></TR>

#set($i = 0)
#foreach($r in $rankings)
	#if($i % 2 == 0)
		#set ($c = "#FFFFFF")	
	#else
		#set ($c = "#CCCCCC")
	#end
	#set($i = $i + 1)
	<TR  ALIGN=CENTER>
		<TD BGCOLOR=$c>$i</TD>
		<TD BGCOLOR="$c">$r.team.number</TD>
		<TD BGCOLOR="$c">$r.team.name</TD>
		<TD BGCOLOR="$c">$r.QP</TD>
		<TD BGCOLOR="$c">$r.RP</TD>
		<TD BGCOLOR="$c">$r.highest</TD>
		<TD BGCOLOR="$c">$r.plays</TD>
	</TR>
	
#end
</TABLE></DIV>

<P><B>QP (Total Qualification Points)</B> -  2 Points for a WIN, 1 Point for a TIE, 0 Points for a LOSS.</P>
<P><B>RP (Total Ranking Points)</B> - Ranking points are awarded using the losing alliance's score in each match.</P>
<P><B>Highest (Highest Match Score)</B> - The highest match score awarded to the team.</P>
<P><B>Matches Played</B> does not include surrogate matches.</P>
<CENTER><SMALL>FTC Scoring Software &copy; 2017-2018 <i>FIRST&reg;</i></CENTER></SMALL>
<CENTER><SMALL>Team Rankings generated at $time</SMALL></CENTER>


#end
