#parse("/velocity/layout.vm")
#@mainLayout()
<script>
// Red  - #EE1D23
// Blue - #0166B3
	var parked = $parkedAuto; 
	var keys = $cryptoboxKeys;
	
	var red  = '#EE1D23';
	var blue = '#0166B3'; 
	var rand = $rand; //The randomization filled in by velocity. Refresh if re-rand.
	$( document ).ready(function() {
		if (rand < 4) {
			document.getElementById("j_1,1").style.backgroundColor = ($jewelSet1 & 0b10) ? red : 'white';
			document.getElementById("j_1,2").style.backgroundColor = ($jewelSet1 & 0b01) ? blue : 'white';
			document.getElementById("j_2,1").style.backgroundColor = ($jewelSet2 & 0b10) ? red : 'white';
			document.getElementById("j_2,2").style.backgroundColor = ($jewelSet2 & 0b01) ? blue : 'white';
			document.getElementById("j_1,1").style.borderColor = ($jewelSet1 & 0b10) ? 'black' : red;
			document.getElementById("j_1,2").style.borderColor = ($jewelSet1 & 0b01) ? 'black' : blue;
			document.getElementById("j_2,1").style.borderColor = ($jewelSet2 & 0b10) ? 'black' : red;
			document.getElementById("j_2,2").style.borderColor = ($jewelSet2 & 0b01) ? 'black' : blue;
		} else {
			document.getElementById("j_1,1").style.backgroundColor = ($jewelSet1 & 0b10) ? blue : 'white';
			document.getElementById("j_1,2").style.backgroundColor = ($jewelSet1 & 0b01) ? red : 'white';
			document.getElementById("j_2,1").style.backgroundColor = ($jewelSet2 & 0b10) ? blue : 'white';
			document.getElementById("j_2,2").style.backgroundColor = ($jewelSet2 & 0b01) ? red : 'white';
			document.getElementById("j_1,1").style.borderColor = ($jewelSet1 & 0b10) ? 'black' : blue;
			document.getElementById("j_1,2").style.borderColor = ($jewelSet1 & 0b01) ? 'black' : red;
			document.getElementById("j_2,1").style.borderColor = ($jewelSet2 & 0b10) ? 'black' : blue;
			document.getElementById("j_2,2").style.borderColor = ($jewelSet2 & 0b01) ? 'black' : red;
		}
		var keyloc = '';
		switch (rand % 3) {
		case 0: keyloc = 'Right';
			break;
		case 1: keyloc = 'Left';
			break;
		case 2: keyloc = 'Center';
			break;
		}
		document.getElementById("glyphKeysLabel").textContent = "Glyph Keys (" + keyloc + "):";
	});
	function radioParked(value){
		parked = value;
		scoreUpdate({parkedAuto:value});
	}
	function radioKeys(value){
		keys = value;
		scoreUpdate({cryptoboxKeys:value});
	}
	
	function addJewelScore(set, obj){
		var j1 = document.getElementById("j_"+set+",1");
		var j2 = document.getElementById("j_"+set+",2");
		var val = j1.style.backgroundColor == 'white' ? 0 : 2; //set MSB
		val += j2.style.backgroundColor == 'white' ? 0 : 1; //set LSB
		//var obj = {};
		obj["jewelSet"+set] = val;
	}
	function jewelToggle(set, id){
		var j = document.getElementById("j_"+set+","+id);
		if(j.style.backgroundColor != 'white'){
			j.style.backgroundColor = 'white';
			j.style.borderColor = (id == 1 && rand < 4 || id == 2 && rand > 3) ? red : blue;
		} else{
			//get original color and set it back to that
			j.style.backgroundColor = (id == 1 && rand < 4 || id == 2 && rand > 3) ? red : blue;
			j.style.borderColor = "#000";
		}
		var obj = {};
		addJewelScore(set, obj);
		scoreUpdate(obj);
	}
	
	function scoreUpdate(obj){
    	
    	$.ajax({
                url: "../../score/$alliance/",
                type: "PUT",
                data: obj,
                success: function (data) {
                    //we good
                    console.log("we good");
                },
                error: function () {
                    //ERROR HANDLING
                    console.log("Error");
                }});
	}
	
	function getScoreObject(){
		obj = {};
		//TODO make these parse calls inside the macro?
		obj.autoGlyphs = parseInt(document.getElementById('autoGlyphs').textContent);
		obj.major = parseInt(document.getElementById('major').textContent);
		obj.minor = parseInt(document.getElementById('minor').textContent);
		obj.cryptoboxKeys = keys;
		obj.parkedAuto = parked;
		addJewelScore(1, obj);
		addJewelScore(2, obj);
		return obj;
	}
	
	function submit(){
		//Send a PUT with all data (do a score update with everything)
		//iff sucessful, reload the page. 
		//Must be done after auto ends, otherwise loads same page
		
		//TODO ensure any previous PUTS are now invalid. (on success)
		obj = getScoreObject();
		$.ajax({
                url: "../../score/$alliance/auto/",
                type: "POST",
                data: obj,
                success: function (data) {
                    //we good
                    console.log("we good");                    
					location.reload(true);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    if(xhr.status == 409){
                    	//Auto not complete.
                    	document.getElementById("errmsg").innerHTML = "Scores saved. Cannot review until completion of autonomous!";
                    } else{
                    	//Oh no. actual problem :(
	                    console.log(xhr);
	                    console.log(ajaxOptions);
	                    console.log(thrownError);
	                }
                }});
	}
</script>
<p class="${alliance}Alliance banner">Autonomous</p>
<table>
<tr><td class="left"><label>Glyphs:</label></td><td class="right nowrap absorbing-column">#parse("/velocity/counter_macro.vm")#@labelID($autoGlyphs)autoGlyphs#end</td></tr>
<tr><td class="left"><label id="glyphKeysLabel">Glyph Keys:</label></td>
	<td class="right nowrap"><div style="width:150%">
		<label style="width:33%"><input type="radio" name="cryptoboxKeys" onclick="radioKeys(0)"  #if($cryptoboxKeys == 0)checked#end/>0</label>
		<label style="width:33%"><input type="radio" name="cryptoboxKeys" onclick="radioKeys(1)"  #if($cryptoboxKeys == 1)checked#end/>1</label>
		<label style="width:33%"><input type="radio" name="cryptoboxKeys" onclick="radioKeys(2)"  #if($cryptoboxKeys == 2)checked#end/>2</label>
	</div></td></tr>
<tr>
<td class ="left">Jewel Set 1:</td>
<td>
<table cellspacing = 5vw id="jewelset1" frame="box" rules="none"><tr><td>
<div class="circle" id="j_1,1" onclick="jewelToggle(1,1)"></div></td><td><div class="circle" id="j_1,2" onclick="jewelToggle(1,2)"></div></html>
</td></tr></table>
</td>
<tr>
<td class="left">Jewel Set 2:</td>
<td>
<table cellspacing = 5vw id="jewelset2" frame="box" rules="none"><tr><td>
<div class="circle" id="j_2,1" onclick="jewelToggle(2,1)"></div></td><td><div class="circle" id="j_2,2" onclick="jewelToggle(2,2)"></div></html>
</td></tr></table></td>
</tr>
<tr><td class="left"><label>Robots Parked:</label></td><td class="right nowrap"><div style="width:150%">
	<label style="width:33%"><input type="radio" name="parked" onclick="radioParked(0)" #if($parkedAuto == 0)checked#end />0</label>
	<label style="width:33%"><input type="radio" name="parked" onclick="radioParked(1)" #if($parkedAuto == 1)checked#end />1</label>
	<label style="width:33%"><input type="radio" name="parked" onclick="radioParked(2)" #if($parkedAuto == 2)checked#end/>2</label>
</div></td></tr>
<tr><td class="left"><label>Minor Penalties:</label></td><td class="right nowrap absorbing-column">#parse("/velocity/counter_macro.vm")#@labelID($minor)minor#end</td></tr>
<tr><td class="left"><label>Major Penalties:</label></td><td class="right nowrap absorbing-column">#parse("/velocity/counter_macro.vm")#@labelID($major)major#end</td></tr>
</table>
<input type="submit" value="Submit Auto" onclick="submit()">
<div id="errmsg" align="center" color="red"></div>
#end