##
## Copyright (c) 2016-2018 Thomas Barnette and Trey Woodlief
## All Rights Reserved.
##

#parse("/velocity/layout.vm")
#@mainLayout()
<script>
$().ready(function () {
    pollServer();
});
	function pollServer(){
            $.ajax({
                url: "../../match/status/commit/",
                type: "GET",
                success: function (data) {
                    location.href='idle';
                },
                error: function () {
                    //ERROR HANDLING
                    console.log("Error");
                    window.setTimeout(pollServer, 5000);
                }});
	}
</script>
<div id="d1">Score submitted. Waiting for next match.</div>
#end