##
## Copyright (c) 2016-2018 Thomas Barnette and Trey Woodlief
## All Rights Reserved.
##

#parse("/velocity/layout.vm")
#@mainLayout()
<div id="d1">Score Track Match $match (Field $field)?</div>
<div>
<button id="yes" onclick="location.href='../'">Yes</button><button id="refresh" onclick="location.reload(true)">Refresh</button>
</div>
#end