##
## Copyright (c) 2016-2018 Thomas Barnette and Trey Woodlief
## All Rights Reserved.
##

#parse("/velocity/layout.vm")
#@mainLayout()
<script>

var isActive = true;

$().ready(function () {
    pollServer();
});
function pollServer()
{
    if (isActive)
    {
            $.ajax({
                url: "../../match/status/start/",
                type: "GET",
                success: function (data) {
                    isActive = false;
                    location.reload(true);
                },
                error: function () {
                    //ERROR HANDLING
                    console.log("Error");
                    window.setTimeout(pollServer, 5000);
                }});
    }
}
</script>
<div id="d1">Waiting for match start. You are scoring the <span style="background-color:$alliance;color:white">$alliance alliance.</span></div>
#end