##
## Copyright (c) 2016-2018 Thomas Barnette and Trey Woodlief
## All Rights Reserved.
##

#parse("/velocity/layout.vm")
#@mainLayout()

<style>
button{
		background-color: #4CAF50; /* Green */
		border: none;
		color: white;
		padding: 12px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 10px;
		cursor: pointer;
	}
</style>

<div id="d1" style="text-align:center;">Score Track <span style="background-color:$alliance;color:white">$alliance Alliance</span> for Match $match (Field $field)?</div>
<div style="text-align:center;">
<button id="yes" onclick="location.href='../'">Yes</button><button id="refresh" onclick="location.reload(true)">No (Refresh)</button>
</div>
#end