#parse("/velocity/layout.vm")
#@mainLayout()
<script>
	var rand = $rand; //The randomization filled in by velocity. Refresh if re-rand.
</script>
<p class="${alliance}Alliance banner">Autonomous</p>
<table>
<tr><td class="left"><label>Glyphs:</label></td><td class="right nowrap absorbing-column">#parse("/velocity/counter_macro.vm")#@labelID()auto_glyph#end</td></tr>
<tr><td class="left"><label>Glyph Keys:</label></td><td class="right nowrap"><div style="width:150%"><label style="width:33%"><input type="radio" name="glyph_keys" checked />0</label><label style="width:33%"><input type="radio" name="glyph_keys"/>1</label><label style="width:33%"><input type="radio" name="glyph_keys"/>2</label></div></td></tr>
<tr><td class="left"><label>Robots Parked:</label></td><td class="right nowrap"><div style="width:150%"><label style="width:33%"><input type="radio" name="parked" checked />0</label><label style="width:33%"><input type="radio" name="parked"/>1</label><label style="width:33%"><input type="radio"name="parked" />2</label></div></td></tr>
<tr><td class="left"><label>Minor Penalties:</label></td><td class="right nowrap absorbing-column">#parse("/velocity/counter_macro.vm")#@labelID()minor_penalties#end</td></tr>
<tr><td class="left"><label>Major Penalties:</label></td><td class="right nowrap absorbing-column">#parse("/velocity/counter_macro.vm")#@labelID()major_penalties#end</td></tr>
</table>
<input type="submit" value="Review">
#end