##
## Copyright (c) 2016-2018 Thomas Barnette and Trey Woodlief
## All Rights Reserved.
##

#parse("/velocity/layout.vm")
#@mainLayout()
<script>

var isActive = true;

$().ready(function () {
 	window.setTimeout(function(){ location.href="idle";}, 5000);
});

</script>
<div id="d1">Score submitted. Waiting for next match.</div>
#end