#parse("/velocity/layout.vm")
#@mainLayout()
#if($fullPage)
$fullPage
#else
<!-- BEGIN RESULTS PAGE -->
<head>
<style>
@media print
{
  table { page-break-after:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  td    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }
}
</style>

<TITLE>Match Results</TITLE>
</head>
<a href="../../"><< Team Info Page</a>
<CENTER><H2>$target - $teamName<BR>
Match Results</H2></CENTER>
<HR>
<DIV ALIGN=CENTER><TABLE BORDER=2 CELLPADDING=5 CELLSPACING=1 WIDTH=75%>
<TR ALIGN=CENTER><TH BGCOLOR="#CCCCCC">Match</TH><TH BGCOLOR="#CCCCCC">Result</TH><TH BGCOLOR="#CCCCCC">Red</TH><TH BGCOLOR="#CCCCCC">Blue</TH><th bgcolor=#CCCCCC colspan="2">Score breakdown</th></TR>
#set ($redColor = "#FF4444")
#set ($blueColor = "#44AAFF")
#set($i = 1)
#foreach($m in $matches)
	#if($i % 2 == 1)
		#set ($c = "#FFFFFF")	
	#else
		#set ($c = "#CCCCCC")
	#end
	#set($i = $i + 1)
	
	#if($m.isElims())
		#set($n = $m.name)
	#else
		#set($n = $m.number)
	#end
	
	#if($m.status == 1)
	<TR ALIGN=CENTER>
		<TD BGCOLOR=$c ROWSPAN=#if($m.isElims()) 3 #else 2#end>
			<a href="../match/$n/scoresheet">
		#if($m.isElims())
			$m.name
		#else
			Q-$m.number
		#end
		</a>
		</TD>
		<TD BGCOLOR="$m.winColor" ROWSPAN=#if($m.isElims()) 3 #else 2#end>
			#if($m.status == 1)
				${m.getRedTotal()}-${m.getBlueTotal()} $m.winChar
			#end
		</TD>
		<TD BGCOLOR=$c> <a href="../../${m.red.team1}/matches/" style="color:black">#if($m.red.team1 == $target)<u>#end$m.red.team1#if($m.red.is1Surrogate())*#end</a></TD>
		<TD BGCOLOR=$c> <a href="../../${m.blue.team1}/matches/" style="color:black">#if($m.blue.team1 == $target)<u>#end$m.blue.team1#if($m.blue.is1Surrogate())*#end</a></TD>
		<td bgcolor=$c colspan="2"><a href="../../../../match/$n/scoresheet">Scoresheet</a></td>
	</TR>
	<TR ALIGN=CENTER>
		<TD BGCOLOR=$c><a href="../../${m.red.team2}/matches/" style="color:black">#if($m.red.team2 == $target)<u>#end$m.red.team2#if($m.red.is2Surrogate())*#end</a></TD>
		<TD BGCOLOR=$c><a href="../../${m.blue.team2}/matches/" style="color:black">#if($m.blue.team2 == $target)<u>#end$m.blue.team2#if($m.blue.is2Surrogate())*#end</a></TD>
		<td bgcolor=$c ROWSPAN=#if($m.isElims()) 2 #else 1#end><a href="../../../../match/$n/scoresheet/red/">Red</a></td>
		<td bgcolor=$c ROWSPAN=#if($m.isElims()) 2 #else 1#end><a href="../../../../match/$n/scoresheet/blue/">Blue</a></td>
	</TR>
		#if($m.isElims())
			<TR ALIGN=CENTER>
				<TD BGCOLOR=$c><a href="../../${m.red.team3}/matches/" style="color:black">#if($m.red.team3 == $target)<u>#end$m.red.team3</a></TD>
				<TD BGCOLOR=$c><a href="../../${m.blue.team3}/matches/" style="color:black">#if($m.blue.team3 == $target)<u>#end$m.blue.team3</a></TD>
			</TR>
		#end
	#elseif($m.status == 0)
	<TR ALIGN=CENTER>
		<TD BGCOLOR=$c ROWSPAN=#if($m.isElims()) 3 #else 2#end>
		#if($m.isElims())
			$m.name
		#else
			Q-$m.number
		#end
		</TD>
		<TD BGCOLOR="$c" ROWSPAN=#if($m.isElims()) 3 #else 2#end>
			#if($m.status == 1)
				${m.getRedTotal()}-${m.getBlueTotal()} $m.winChar
			#end
		</TD>
		<TD BGCOLOR=$c> $m.red.team1#if($m.red.is1Surrogate())*#end</TD>
		<TD BGCOLOR=$c> $m.blue.team1#if($m.blue.is1Surrogate())*#end</TD>
		<td bgcolor=$c colspan="2"></td>
	</TR>
	<TR ALIGN=CENTER>
		<TD BGCOLOR=$c>$m.red.team2#if($m.red.is2Surrogate())*#end</TD>
		<TD BGCOLOR=$c>$m.blue.team2#if($m.blue.is2Surrogate())*#end</TD>
		<td bgcolor=$c ROWSPAN=#if($m.isElims()) 2 #else 1#end></td>
		<td bgcolor=$c ROWSPAN=#if($m.isElims()) 2 #else 1#end></td>
	</TR>
		#if($m.isElims())
			<TR ALIGN=CENTER>
				<TD BGCOLOR=$c><a href="../../${m.red.team3}/matches/" style="color:black">#if($m.red.team3 == $target)<u>#end$m.red.team3</a></TD>
				<TD BGCOLOR=$c><a href="../../${m.blue.team3}/matches/" style="color:black">#if($m.blue.team3 == $target)<u>#end$m.blue.team3</a></TD>
			</TR>
		#end
	#end
#end
</TABLE></DIV>

<HR>
<P align=left><STRONG>Note:</STRONG> * Indicates a surrogate match.  Those matches do NOT count in the rankings</P>
<CENTER><SMALL>MatchMaker Scheduling Software &copy; 2007 Idle Loop Software Design. LLC</SMALL></CENTER>

#end ## end cache if
#end
