##
## Copyright (c) 2016-2018 Thomas Barnette and Trey Woodlief
## All Rights Reserved.
##

#macro (esr $s)
<td>$s.avg</td><td>$s.sum</td><td>$s.opp</td><td>$s.pct</td>
#end
#macro (matchStats $phase)
<table>
<tr><th>Stat</th><th>Value</th></tr>
#if($phase)
<tbody>
<tr><td>High Score</td><td>$phase.get("score").max</td></tr>
<tr><td>High Score No Penalty</td><td>$phase.get("scoreNP").max</td></tr>
<tr><td>Average Score</td><td>$phase.get("score").avg</td></tr>
<tr><td>Average Score No Penalty</td><td>$phase.get("scoreNP").avg</td></tr>
<tr><td>High Score Combined</td><td>$phase.get("combined").max</td></tr>
<tr><td>Average Winning Score</td><td>$phase.get("winningScore").avg</td></tr>
<tr><td>Largest Margin</td><td>$phase.get("margin").max</td></tr>
<tr><td>Average Margin</td><td>$phase.get("margin").avg</td></tr>
</tbody>
#end
</table>
<hr>
<table>
<tr><th>Objective</th><th>Per Match Avg</th><th>Total</th><th>Opportunities</th><th>Percent</th></tr>
#if($phase)
#set($s = $phase.get("parked"))
<tr><td>Safe Zone parking</td>#esr($s)</tr>
#set($s = $phase.get("jewels"))
<tr><td>Jewels</td>#esr($s)</tr>
#set($s = $phase.get("keys"))
<tr><td>Keys</td>#esr($s)</tr>
#set($s = $phase.get("glyphs"))
<tr><td>Glyphs</td>#esr($s)</tr>
#set($s = $phase.get("rows"))
<tr><td>Rows</td>#esr($s)</tr>
#set($s = $phase.get("columns"))
<tr><td>Columns</td>#esr($s)</tr>
#set($s = $phase.get("ciphers"))
<tr><td>Ciphers</td>#esr($s)</tr>
#set($s = $phase.get("birds"))
<tr><td>Birds</td><td>--</td><td>$s.sum</td><td>$s.opp</td><td>$s.pct</td></tr>
#set($s = $phase.get("frogs"))
<tr><td>Frogs</td><td>--</td><td>$s.sum</td><td>$s.opp</td><td>$s.pct</td></tr>
#set($s = $phase.get("snakes"))
<tr><td>Snakes</td><td>--</td><td>$s.sum</td><td>$s.opp</td><td>$s.pct</td></tr>
#end
</table>
#end


#parse("/velocity/layout.vm")
#@mainLayout("1000px")
<style>
td, th {
	text-align:center;
	min-width:80px;
}
#general, #Avg, #PR {
	width:100%;
}
#general td, #general th, #Avg td, #Avg th, #PR td, #PR th {
	border: 1px solid black;
}
th {
	background-color: #dddddd;
}
tr:nth-child(even){
  background-color: #dddddd;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    height:90px;
    min-height:10%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    overflow:auto;
}

</style>
<script>
//var stats = $jsonStats;
//function sortOPR() {
//	var rows = document.getElementsByName("data");
//}

function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}

	$().ready(function(){
  		document.getElementById("teamGeneralId").click();
	});
</script>
<a href="/event/$sysEvent/home/"><< To Event Home</a>
<center><h2>$sysEvent <br> Statistics (Beta)</h2></center>

<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'teamGeneral')" id="teamGeneralId">General<br>(Quals)</button>
  <button class="tablinks" onclick="openTab(event, 'teamSpecificAvg')">Game Specific Avgs<br>(Quals)</button>
  <button class="tablinks" onclick="openTab(event, 'teamSpecificPR')">Game Specific PRs<br> (Quals)</button>
  <button class="tablinks" onclick="openTab(event, 'eventGeneral')">Event</button>
</div>

<div id="teamGeneral" class="tabcontent">
<table id="general">
<thead>
<tr><th name="number">Team #</th>
	<th>Team Name</th>
	<th>Rank</th>
	<th>OPR</th>
	<th>OPR (NP)</th>
	<th>Avg Score</th>
	<th>Avg Score NP</th>
	<th>Auto OPR</th>
	<th>Teleop OPR</th>
	<th>Avg Victory Margin</th>
</tr>
</thead>
  
<tbody>
#foreach($stat in $stats)
<tr class="data">
	<td name="number">   $stat.team.number</td>
	<td name="name">     $stat.team.name</td>
	<td name="rank">     $stat.rank</td>
	<td name="OPR">      $stat.getDoubleString("OPR")</td>
	<td name="OPRNP">    $stat.getDoubleString("OPRNP")</td>
	<td name="avgScore"> $stat.getDoubleString("avgScore")</td>
	<td name="avgScoreNP">$stat.getDoubleString("avgScoreNP")</td>
	<td name="autoOPR">  $stat.getDoubleString("autoOPR")</td>
	<td name="teleopOPR">$stat.getDoubleString("teleopOPR")</td>
	<td name="avgMargin">$stat.getDoubleString("avgMargin")</td>
</tr>
#end
</tbody>
</table>
</div>
#foreach($tab in ["Avg","PR"])
<div id="teamSpecific$tab" class="tabcontent">
<table id="$tab">
<thead>
<tr><th name="number">Team #</th>
	<th>Parking</th>
	<th>Jewels</th>
	<th>Jewels <br>(Red)</th>
	<th>Jewels <br>(Blue)</th>
	<th>Jewels <br>(<font color='red'>R</font><font color='blue'>B</font>)</th>
	<th>Jewels <br>(<font color='blue'>B</font><font color='red'>R</font>)</th>
	<th>Keys</th>
	<th>Keys <br>(Left)</th>
	<th>Keys <br>(Center)</th>
	<th>Keys <br>(Right)</th>	
	<th>Glyph</th>
	<th>Row</th>
	<th>Column</th>
	<th>Cipher</th>
	<th>Relic Score</th>
</tr>
</thead>
<tbody>
#foreach($stat in $stats)
<tr class="data">
	<td name="number">  $stat.team.number</td>	
	<td name="parking$tab">$stat.getDoubleString("parking$tab")</td>
	<td name="jewel$tab">$stat.getDoubleString("jewel$tab")</td>
	<td name="jewelRed$tab">$stat.getDoubleString("jewelRed$tab")</td>
	<td name="jewelBlue$tab">$stat.getDoubleString("jewelBlue$tab")</td>
	<td name="jewelLeft$tab">$stat.getDoubleString("jewelLeft$tab")</td>
	<td name="jewelRight$tab">$stat.getDoubleString("jewelRight$tab")</td>
	<td name="keys$tab">$stat.getDoubleString("key$tab")</td>
	<td name="keysLeft$tab">$stat.getDoubleString("keyLeft$tab")</td>
	<td name="keysCenter$tab">$stat.getDoubleString("keyCenter$tab")</td>
	<td name="keysRight$tab">$stat.getDoubleString("keyRight$tab")</td>
	<td name="glyph$tab">$stat.getDoubleString("glyph$tab")</td>
	<td name="row$tab">$stat.getDoubleString("row$tab")</td>
	<td name="column$tab">$stat.getDoubleString("column$tab")</td>
	<td name="cipher$tab">$stat.getDoubleString("cipher$tab")</td>
	<td name="relic$tab">$stat.getDoubleString("relic$tab")</td>
</tr>
#end
</tbody>
</table>
</div>
#end
<div id="eventGeneral" class="tabcontent">
<!-- THIS IS BROKEN -->
	<center><h1>Quals</h1></center>
	#matchStats($quals)
	<center><h1>Elims</h1></center>
	#matchStats($elims)
</div>

#end