#parse("/velocity/layout.vm")
#@mainLayout()
<h1 align=center>$event</h1>
<body>
<table id="statusTable" align=center>
	<tr class="header">
		#foreach ($h in $headers)
			<th>$h</th>
		#end
		<th>Team</th>
		<th>Name</th>
	</tr>
	#foreach ($r in $teams)
		<tr id="row_"$r.number>
		#foreach ($h in $headers)
			#set($s = $r.getStatus($h))
			<td id=${h}_$r.number bgcolor=#if($s == 1)'#0FF'#elseif($s == 2)'#F00'#elseif($s == 3)'#0F0'#else'#FFF'#end>&nbsp;</td>
		#end
		<td>$r.number</td>
		<td>$r.name</td>
		</tr>
	#end
</table>
</body>
<script>
	function updatePage(){
		//If detect structure change, reload entire page
		//ex: add/remove column, team, change order of columns
	}
</script>
#end