#parse("/velocity/layout.vm")
#@mainLayout()
<style>
td{
text-align:center;
}
</style>
<table>
#if($today)
	<tr><td colspan="3" style="padding-top:20px"><h1>Events Happening Today</h1></td></tr>
	<tr><th>Code</th><th>Name</th><th>Date</th></tr>
	#foreach($event in $todayEvents)
		<tr><td><a href="/event/$event.code/home">$event.code</a></td><td><a href="/event/$event.code/home">$event.name</a></td><td>$event.date</td></a></tr>
	#end
	<tr><td colspan="3"><hr></td></tr>
#end

#if($nextWeek)
	<tr><td colspan="3" style="padding-top:20px"><h1>Events Happening This Week</h1></td></tr>
	<tr><th>Code</th><th>Name</th><th>Date</th></tr>
	#foreach($event in $nextWeekEvents)
		<tr><td><a href="/event/$event.code/home">$event.code</a></td><td><a href="/event/$event.code/home">$event.name</a></td><td>$event.date</td></a></tr>
	#end
	<tr><td colspan="3"><hr></td></tr>
#end
<tr><td colspan="3" style="padding-top:20px"><h1>All Events</h1></td></tr>
	<tr><th>Code</th><th>Name</th><th>Date</th></tr>
	#foreach($event in $allEvents)
		<tr><td><a href="/event/$event.code/home">$event.code</a></td><td><a href="/event/$event.code/home">$event.name</a></td><td>$event.date</td></a></tr>
	#end
</table>
#end