##
## Copyright (c) 2016-2018 Thomas Barnette and Trey Woodlief
## All Rights Reserved.
##

#parse("/velocity/layout.vm")
#@mainLayout()
<form id="loginForm" method="post">
    #if($authenticationFailed)
    	#if($changePW)
    		<p class="bad notification">$reason</p>
    	#else
    		<p class="bad notification">The given username and password are invalid</p>
    	#end
    #elseif($authenticationSucceeded)
    	#if($changePW)
        	<p class="good notification">Password successfully changed.</p>
        #else
        	<p class="good notification">Welcome back, $currentUser</p>
        #end
    #elseif($loggedOut)
        <p class="notification">You have been successfully logged out</p>
    #end
    #if($loginRedirect)
		<font color="red"><p>You must login to view that page</p></font>
	#end
    <h1>Login</h1>
    <p>Please enter your username and password.</p>
    <label>Username: </label>
    #if($username)
    	<input type="text" name="username" value="$username" required autofocus>
    #else
    	<input type="text" name="username" required autofocus>
    #end
    #if($loginRedirect)
        <input type="hidden" name="loginRedirect" value="$loginRedirect">
    #end
    #if($changePW)
        <label>Old password: </label>
    	<input type="password" name="password">
    	<label>New password: </label>
    	<input type="password" name="newPassword1" required>
    	<label>Re-enter new password: </label>
    	<input type="password" name="newPassword2" required>
    	<input type="submit" value="Change Password">
    #else
        <label>Password: </label>
    	<input type="password" name="password" required>
    	<input type="submit" value="Login">
    #end
</form>
#end