#macro(labelID $init $text)
<script>
function onDown$bodyContent() {
	var cur = document.getElementById('$bodyContent').textContent;
	var prevCur = parseInt(cur);
	if (cur == '') {
		cur = 0;
	} else {
		cur = parseInt(cur) - 1;
	}
	if (cur < 0) {
		cur = 0;
	}
	document.getElementById('$bodyContent').textContent = cur;
	if (cur != prevCur && typeof onChange$bodyContent === "function") {
		onChange$bodyContent(cur);
	}
}
function onUp$bodyContent() {
	var cur = document.getElementById('$bodyContent').textContent;
	var prevCur = parseInt(cur);
	if (cur == '') {
		cur = 0;
	} else {
		cur = parseInt(cur) + 1;
	}
	document.getElementById('$bodyContent').textContent = cur;
	if (cur != prevCur && typeof onChange$bodyContent === "function") {
		onChange$bodyContent(cur);
	}
}

function onChange$bodyContent(cur){
	scoreUpdate({$bodyContent:cur});
}
</script>
<input type="button" class="counterButton nowrap" onClick="onDown$bodyContent()" value="-1" style="width:40%"/><textarea id="$bodyContent" style="width:20%;border:none;overflow:visible;resize:none;text-align:center;vertical-align:top;font-size:200%;" cols=3 #if(!$text)readonly#end>#if($init)$init#else 0 #end</textarea><input class="counterButton nowrap" type="button" onClick="onUp$bodyContent()" value="+1" style="width:40%"/>
#end