#macro(labelID $init $limit)
<script>
function onDown$bodyContent() {
	var cur = document.getElementById('$bodyContent').textContent;
	var prevCur = parseInt(cur);
	if (cur == '') {
		cur = 0;
	} else {
		cur = parseInt(cur) - 1;
	}
	if (cur < 0) {
		cur = 0;
	}
	document.getElementById('$bodyContent').textContent = cur;
	if (cur != prevCur && typeof onChange$bodyContent === "function") {
		onChange$bodyContent(cur);
	}
}
function onUp$bodyContent() {
	var cur = document.getElementById('$bodyContent').textContent;
	var prevCur = parseInt(cur);
	if (cur == '') {
		cur = 0;
	} else {
		cur = parseInt(cur) + 1;
	}
	#if($limit)
	if (cur > $limit) {
		cur = $limit
	}
	#end
	document.getElementById('$bodyContent').textContent = cur;
	if (cur != prevCur && typeof onChange$bodyContent === "function") {
		onChange$bodyContent(cur);
	}
}

function onChange$bodyContent(cur){
	scoreUpdate({$bodyContent:cur});
}
</script>
<input type="button" class="counterButton nowrap counter" onClick="onDown$bodyContent()" value="-1"/><textarea id="$bodyContent" class="counter" style="width:20%;white-space:nowrap;border:none;overflow:visible;resize:none;text-align:center;vertical-align:bottom;" cols=3 >#if($init)$init#else 0 #end</textarea><input class="counterButton nowrap counter" type="button" onClick="onUp$bodyContent()" value="+1"/>
#end