##
## Copyright (c) 2016-2018 Thomas Barnette and Trey Woodlief
## All Rights Reserved.
##

#macro(mainLayout $mainWidth)

<!-- Copyright (c) 2016-2018 Thomas Barnette and Trey Woodlief -->
<!-- All Rights Reserved.                                      -->

<html>
<head>
    <title>FTC Live</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
  	<link rel="stylesheet" href="/js/jquery-ui.css">
	<script src="/js/jquery-1.12.4.js"></script>
  	<script src="/js/jquery-ui.js"></script>
  	<script src="/js/general.js"></script>
  	<script>
  		Role = {
  			SYSADMIN : 1<<31,
			ADMIN : 1<<30,
			KEY_VOLUNTEER : 1<<29,
			HEAD_REF : 1<<28,
			REF : 1<<27,
			LI : 1<<26,
			INSPECTOR : 1<<25,
			VOLUNTEER : 1<<2,
			TEAM : 1<<1,
			GENERAL : 1<<0,
			NONE : 0
  		};
		function hasRole(role) {
			return ($roles & role) != 0 || $roles === role;
		};
  	</script>
  	<style>
  	.dropdown .dropbtn {
    	font-size: 16px;    
    	border: none;
    	outline: none;
    	color: white;
    	padding: 14px 16px;
    	background-color: inherit;
	}
  	.dropdown:hover .dropdown-content,
  	.dropdown:active .dropdown-content {
	    display: block;
	    
	}
  	.dropdown-content {
    	display: none;
    	position: absolute;
	    background-color: #274555;
	    padding-bottom:10px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;
	}
	.dropdown-content a {
	    float: none;
	    color: black;
	    text-decoration: none;
	    color:black;
	    display: block;
	    text-align: left;
	}
	.dropdown-content a:hover {
	    background-color: #133141;
	}
  	</style>
</head>
<body>
<header 
#if($mobile)
##style="padding-top:3%;"
#end
>
    <nav>
    	<a href="/index/"><img id="logo" src="/img/logo.png"></a>
    	#if($sysEvent)
    		#if($sysEventImage)
    			<a href="/event/$sysEvent/home/"><img id="logo" src="$sysEventImage"></a>
    		#else
    			<a href="/event/$sysEvent/home/"><img id="logo" src="/img/sponsor.png"></a>
    		#end
    	#end
    	<!-- <a href="$WebPath.getInspection()">Inspection</a> -->
    	<!-- <a href="$WebPath.getConsole()">Console</a> -->
    	<ul id="menu" #if($mobile) style="margin-top:0px;" #end>
    		#if($mobile)
    		<li class="dropdown">
    	    	<a class="dropbtn">Links</a>
    			<div class="dropdown-content">
    			<ul>
    		    	    #if($sysEvent)
    		    	<li><a href="/event/$sysEvent/home/">Event&nbsp;Home</a></li>
    				<li><a href="/event/$sysEvent/status/">Inspection</a></li>
    			    <li><a href="/event/$sysEvent/schedule">Schedule</a></li>
    				<li><a href="/event/$sysEvent/results">Results</a></li>
    				<li><a href="/event/$sysEvent/rankings">Rankings</a></li>
    		#if($INSPECTOR)
    			    <li><a href="/event/$sysEvent/inspect/ci">Check&nbsp;In</a></li>
    				<li><a href="/event/$sysEvent/inspect/hw">Hardware</a></li>
    				<li><a href="/event/$sysEvent/inspect/sw">Software</a></li>
    				<li><a href="/event/$sysEvent/inspect/fd">Field</a></li>
    		#end ##end inspector if
    		#end ##end sysEvent if
    		#if($ADMIN)
    				<li><a href="/create/event/">Create&nbsp;Event</a></li>
    				#if($sysEvent)
    					<li><a href="/event/$sysEvent/manage/">Manage&nbsp;Event</a></li>
    				#end ##end sysEvent if
    			    <li><a href="/create/account/">Create&nbsp;Users</a></li>
    				<li><a href="/users/manage/">Manage&nbsp;Users</a></li>
    				<li><a href="/config/">Server&nbsp;Config</a></li>
    		#end ## end admin if
    		<li> <a href="/feedback/">Feedback </a></li>
    		</ul>
    		</div></li>
    		#########################################################################
    		#else ##We know we are not on mobile
    		#########################################################################
    	    #if($sysEvent)
    	    <li class="dropdown">
    	    	<a class="dropbtn" href="/event/$sysEvent/home/">Event&nbsp;Home</a>
    			<div class="dropdown-content">
    			<ul>
    				<li><a href="/event/$sysEvent/status/">Inspection</a></li>
    			    <li><a href="/event/$sysEvent/schedule">Schedule</a></li>
    				<li><a href="/event/$sysEvent/results">Results</a></li>
    				<li><a href="/event/$sysEvent/rankings">Rankings</a></li>
    				</ul>
    			</div>
    		</li>
    		#if($INSPECTOR)
    		 <li class="dropdown">
    	    	<a class="dropbtn" href="/event/$sysEvent/status/">Inspection</a>
    			<div class="dropdown-content">
    			<ul>
    			    <li><a href="/event/$sysEvent/inspect/ci">Check&nbsp;In</a></li>
    				<li><a href="/event/$sysEvent/inspect/hw">Hardware</a></li>
    				<li><a href="/event/$sysEvent/inspect/sw">Software</a></li>
    				<li><a href="/event/$sysEvent/inspect/fd">Field</a></li>
    				</ul>
    			</div>
    		</li>
    		#end ##end inspector if
    		#end ##end sysEvent if
    		#if($ADMIN)
    		<li class="dropdown">
    	    	<a class="dropbtn">Admin</a>
    			<div class="dropdown-content">
    			<ul>
    				<li><a href="/create/event/">Create&nbsp;Event</a></li>
    				#if($sysEvent)
    					<li><a href="/event/$sysEvent/manage/">Manage&nbsp;Event</a></li>
    				#end ## end sysEvent if
    			    <li><a href="/create/account/">Create&nbsp;Users</a></li>
    				<li><a href="/users/manage/">Manage&nbsp;Users</a></li>
    				<li><a href="/config/">Server&nbsp;Config</a></li>
    				</ul>
    			</div>
    		</li>
    		#end ## end admin if
    		<li> <a href="/feedback/">Feedback </a></li>
    		#end ##End mobile if
            #if($currentUser)
                <li>
                    <a href="$WebPath.getUserPage()">
                        Hello $currentUser.</a>
                </li>
            #else
                <li><a href="$WebPath.getLogin()">Login</a></li>
            #end
        </ul>
    </nav>
</header>
<main>
    <div id="content"
    #if($mainWidth)
 style="max-width:$mainWidth"
 #end
    >
        $bodyContent
        <!-- END BODY CONTENT -->
    </div>
</main>
<footer>
    <span class="singleLine">FTC Live Scoring Software v2.5.1.&nbsp;</span><span class="singleLine">Copyright &copy; 2016-2018. All Rights Reserved.</span>
</footer>
</body>
</html>
#end
