##
## Copyright (c) 2016-2018 Thomas Barnette and Trey Woodlief
## All Rights Reserved.
##

#parse("/velocity/layout.vm")
#@mainLayout()
<div style="width:100%;text-align:center;">$msg</div>
<a href="../">Back</a>
#end