##
## Copyright (c) 2016-2018 Thomas Barnette and Trey Woodlief
## All Rights Reserved.
##

#parse("/velocity/layout.vm")
#@mainLayout()
    <h1>Could not find page $currentPath <small>(error 404)</small></h1>
#end
