##
## Copyright (c) 2016-2018 Thomas Barnette and Trey Woodlief
## All Rights Reserved.
##

#parse("/velocity/layout.vm")
#@mainLayout()
<h1>Server Configuration</h1>


<h2>
	Remote Server Management
</h2>
These are the hosts this server will push data to. To add a host, you need to get the access key
from the host for a specific event. The form to add a host is below the table. To edit a remote connection, delete the existing one and re-enter
with a new key, which when generated on the remote server will invalidate the current one. Downloading data from a remote will 
overwrite this server's local data with the data from the remote server.
<br><br>

<style>
td{
	text-align:center;
}
</style>
<fieldset>
	<legend>Current Remote Servers:</legend>
	<table>
		<tr><th>Hostname / IP</th> <th> Event Code</th> <th> Data Download</th> <th>Edit</th><th>Delete</th></tr>
		#foreach($h in $hosts)
			<tr>
				<td>$h.host</td>
				<td>$h.event</td>
				<td><button onclick="download('$h.host', '$h.event')">Data Download</button></td>
				<td><button onclick="edit('$h.host', '$h.event')">Edit</button></td>
				<td><button onclick="deleteH('$h.host','$h.event')">Delete</button></td>
				
			</tr>
		#end 
	</table>
</fieldset>
<div id="msgTop"></div>
<br><br>
<fieldset>
	<legend>Add/Edit Remote Server</legend>
	<label for="host">Host:</label><input type="text" id="host"></input>
	<button onclick="test()">Test Connection</button><div id="testMsg"></div><br>
	<label for="event">Event Code:</label> <input type="text" id="event"></input>
	<label for="key">Access Key:</label><input type="text" id="key"></input>
	<button id="submit" onclick="submit()">Submit</button>
	<div id="msg"></div>
</fieldset>

<script>
	function test(){
		var postObj = {host:document.getElementById("host").value};
		$.ajax({
			url:"",
			type:"PUT",
			data: postObj,
			success:function(data){
				document.getElementById("testMsg").innerHTML = "<font color='green'>Success</font>";
			},
			error: function(xhr, textStatus, errorThrown) {
	        	document.getElementById("testMsg").innerHTML = "<font color='red'>"+xhr.responseText+"</red>";
	    	}
	    });
	}
	
	function submit(){
		var postObj = {
			host:document.getElementById("host").value, 
			event:document.getElementById("event").value,
			key:document.getElementById("key").value
		};
		$.ajax({
			url:"",
			type:"POST",
			data: postObj,
			success:function(data){
				window.location.reload(true);
			},
			error: function(xhr, textStatus, errorThrown) {
	        	document.getElementById("msg").innerHTML = "<font color='red'>"+xhr.responseText+"</red>";
	    	}
	    });
	}
	
	function deleteH(host, event){
		$.ajax({
			url:"?host="+host+"&event="+event,
			type:"DELETE",
			success:function(data){
				window.location.reload(true);
			},
			error: function(xhr, textStatus, errorThrown) {
	        	console.log("Error");
	    	}
	    });
	}
	
	function download(host, event){
		var postObj = {
			host:host,
			event:event
		};
		$.ajax({
			url:"dd/",
			type:"POST",
			data: postObj,
			success:function(data){
				document.getElementById("msgTop").innerHTML = "<font color=green>Data Download Success</font>";
			},
			error: function(xhr, textStatus, errorThrown) {
	        	var r = "<font color=red>"+xhr.responseText+"</font>:";
	        	if(xhr.responseText.indexOf("Invalid Key") >= 0){
	        		r += "Try again, if the problem persists you may need to get a new access key from the remote server.";
	        	} 
	        	if(xhr.responseText.indexOf("Error connecting to server") >= 0){
	        		r += "Ensure you have an internet connection and can reach the server.";
	        	} 
	        	if(xhr.responseText.indexOf("Error downloading zip file") >= 0){
	        		r += "Try again. May need to contact an admin of the remote server to manually download the data.";
	        	} 
	        	if(xhr.responseText.indexOf("Error deleting existing") >= 0 || xhr.responseText.indexOf("Error unzipping") >= 0){
	        		r += "Try again. Make sure no other programs have the db file open. If the problem persists, go to the database directory and manually extract " + xhr.responseText.substring(24)+", replacing any existing .db files with the same name.";
	        	} 
	        	
	        	document.getElementById("msgTop").innerHTML = r;
	        }
	    });
	}
	
	function edit(host, event){
		document.getElementById("host").value = host;
		document.getElementById("event").value = event;
		document.getElementById("key").value = "";
		document.getElementById("msg").innerHTML = "";
		document.getElementById("testMsg").innerHTML = "";
	}
	
	
</script>


#end