#parse("/velocity/layout.vm")
#@mainLayout()
<h1>Server Configuration</h1>


<h2>
	Remote Server Configuration
</h2>
<ul>
	<li>		
		<a href="remotes/">Manage Remotes</a>
	</li>
	<li>		
		<a href="keys/">Manage Access Keys</a>
	</li>
</ul>
<h2>
	Server Data Management
</h2>
<ul>
	<li>		
		<a href="/server/">Data Management</a>
	</li>
</ul>


#end